<div class="action-footer">
    <ul>
        <li>
            <a href="tel:@ViewBag.Config.HotLine" title="Gọi điện tư vấn" data-toggle="tooltip" data-placement="left">
                <img src="/user/assets/Content/images/callback.svg" class="img-fluid" alt="Gọi điện tư vấn" width="40" />
                <span>Gọi điện</span>
            </a>
        </li>
        <li>
            <a href="@ViewBag.Config.SocialLink9" rel="nofollow" target="_blank" title="Chat Zalo" data-toggle="tooltip" data-placement="left">
                <img src="/user/assets/Content/images/zalo.png" class="img-fluid" alt="Zalo" width="40" />
                <span>Chat Zalo</span>
            </a>
        </li>

        <li>
            <a href="@ViewBag.Config.SocialLink1" rel="nofollow" target="_blank" title="Chat Facebook" data-toggle="tooltip" data-placement="left">
                <img src="/user/assets/Content/images/fb-messenger.svg" class="img-fluid" alt="Facebook" width="40" />
                <span>Chat Facebook</span>
            </a>
        </li>
    </ul>
</div>