
<!DOCTYPE html>
<html lang="vi-VN">

<!-- Mirrored from ketoanthueqc.com/blog/5-thoi-quen-nguy-hiem-nen-tu-bo-ngay-ke-toan-thue-qc.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Jan 2026 02:53:07 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head xmlns="http://www.w3.org/1999/xhtml" prefix="og:http://ogp.me/ns# fb:http://www.facebook.com/2008/fbml">
    @await Component.InvokeAsync("Header")
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTDLZG3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1115698322242874&amp;ev=PageView&amp;noscript=1"
/></noscript>    

@await Component.InvokeAsync("Nav")
    
@RenderBody()

@await Component.InvokeAsync("Footer")
@await Component.InvokeAsync("Zalo")

<form id="subscribe" style="display:none;">
    <div class="form-name">Đăng ký tư vấn kế toán miễn phí</div>
    <div class="form-row" id="form-notice">
        <div class="col-lg-12">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Họ và tên *" required="" maxlength="50" title="Bạn chưa nhập họ tên"/>
            </div>
            <div class="form-group form-row">
                <div class="col-lg-6">
                    <input type="tel" name="phone" class="form-control" placeholder="Số điện thoại *" required="" maxlength="20" title="Bạn chưa nhập Số điện thoại, gồm 10 số băt đầu bằng số 0"/>
                </div>
                <div class="col-lg-6 mt-3 mt-lg-0">
                    <input type="email" name="email" class="form-control" placeholder="Email của bạn *" title="Bạn chưa nhập đúng định dạng Email" maxlength="50" required=""/>
                </div>
            </div>
            <textarea name="message" class="form-control" rows="3" placeholder="Dịch vụ cần tư vấn"></textarea>
            <button type="button" class="btn btn-block btn-primary mt-3 g-recaptcha" data-sitekey="6Lf-TMIZAAAAAOD-4H1eJo2Rbiej7hv50_UkEvEt" data-callback="registerForm">
                GỬI THÔNG TIN
            </button>
        </div>
    </div>
</form>
    <script type="text/javascript">
        window.WebFontConfig = {
            google: { families: ["Mulish:300,400,500,700&display=swap"] }
        };
        (function () {
            const wf = document.createElement("script");
            wf.src = "../../ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js";
            wf.type = "text/javascript";
            wf.async = "true";
            wf.defer = "true";
            const s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    <script type="text/javascript" src="../Scripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" defer="" src="../Scripts/bundle.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('lazybeforeunveil', function (e) {
            var bg = e.target.getAttribute('data-bg');
            if (bg) {
                e.target.style.backgroundImage = 'url(' + bg + ')';
            }
        });
        setTimeout(function () {
            $.fancybox.open({
                src: "#subscribe",
                type: 'inline',
                touch: false,
                clickOutside: false,
                clickSlide: false
            });
        }, 15000);
    </script>
    <script type="text/javascript">
        var exec = false;
        function addListenerMulti(element, eventNames, listener) {
            var events = eventNames.split(' ');
            for (var i = 0, iLen = events.length; i < iLen; i++) {
                element.addEventListener(events[i], listener, false);
            }
        }
        addListenerMulti(document, "scroll wheel touchstart", function (e) {
            if (!exec) {
                $.getScript("../Scripts/bundle_after.min.js", function () {
                    indexJs();
                });
                $(".icon-menu").on("click", function () {
                    $("header").addClass("show");
                });
                $(".overlayall").on("click", function () {
                    $("header").removeClass("show");
                });
                //FB.XFBML.parse();

                var captcha = document.createElement('script');
                captcha.setAttribute('src', '../../www.google.com/recaptcha/api.js');
                document.head.appendChild(captcha);
                exec = true;
            }
        });
    </script>
    
    <script src="../../apis.google.com/js/platform.js"></script>


    <script src="../bundles/jqueryval137a?v=mXk8qmcVptQDpRl96DztMJxUz5LX2uyPFq39qHrQRhg1"></script>

    

</body>

<!-- Mirrored from ketoanthueqc.com/blog/5-thoi-quen-nguy-hiem-nen-tu-bo-ngay-ke-toan-thue-qc.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 Jan 2026 02:53:08 GMT -->
</html>
