@* 
<!DOCTYPE html>
<html lang="vi">
<head>
	@await Component.InvokeAsync("Header")
</head>
<body data-rsssl=1 class="home page-template-default page page-id-2 wp-embed-responsive full blog-1 wpb-js-composer js-comp-ver-6.6.0 vc_responsive">

	<div class="page-wrapper">
		<!-- page wrapper -->
		<!-- header wrapper -->
		<div class="header-wrapper">

			@await Component.InvokeAsync("Nav")

		</div>
		<!-- end header wrapper -->

		@RenderBody()
		@RenderSection("Styles", required: false)


		<div class="footer-wrapper">


			@await Component.InvokeAsync("Footer")


		</div>


	</div><!-- end wrapper -->

	<div class="panel-overlay"></div>
	<div id="side-nav-panel" class="panel-left">
		<a href="#" class="side-nav-panel-close"><i class="fas fa-times"></i></a>
		<div class="menu-wrap">
			<ul id="menu-menu-chinh-1" class="mobile-menu accordion-menu">
				<li id="accordion-menu-item-314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item active"><a href="/user/assets/" class=" current ">Trang chủ</a></li>
				<li id="accordion-menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has-sub">
					<a href="/user/assets/khoa-hoc/">Khóa học</a>
					<span class="arrow"></span>
					<ul class="sub-menu">
						<li id="accordion-menu-item-511" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/thiet-ke-do-hoa-co-ban/">Thiết kế đồ họa (Cơ bản)</a></li>
						<li id="accordion-menu-item-512" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/thiet-ke-do-hoa-nang-cao/">Thiết kế đồ họa (Nâng cao)</a></li>
						<li id="accordion-menu-item-515" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/thiet-ke-website/">Thiết kế Website</a></li>
						<li id="accordion-menu-item-520" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/xu-ly-anh-voi-adobe-photoshop/">Xử lý ảnh với Adobe Photoshop</a></li>
						<li id="accordion-menu-item-513" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/thiet-ke-do-hoa-voi-adobe-illustrator/">Thiết kế đồ họa với Adobe Illustrator</a></li>
						<li id="accordion-menu-item-506" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/dan-trang-voi-adobe-indesign/">Dàn trang với Adobe Indesign</a></li>
						<li id="accordion-menu-item-507" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/dung-phim/">Dựng phim</a></li>
						<li id="accordion-menu-item-514" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/thiet-ke-noi-that/">Thiết kế nội thất</a></li>
						<li id="accordion-menu-item-510" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/sketchnote/">Sketchnote</a></li>
						<li id="accordion-menu-item-519" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/tiep-thi-ky-thuat-so/">Tiếp thị Kỹ thuật số</a></li>
						<li id="accordion-menu-item-516" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/tieng-han/">Tiếng Hàn</a></li>
						<li id="accordion-menu-item-518" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/tieng-nhat/">Tiếng Nhật</a></li>
						<li id="accordion-menu-item-517" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/tieng-hoa/">Tiếng Hoa</a></li>
						<li id="accordion-menu-item-508" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/excel-chuyen-nghiep/">Excel chuyên nghiệp</a></li>
						<li id="accordion-menu-item-509" class="menu-item menu-item-type-post_type menu-item-object-portfolio"><a href="/user/assets/khoa-hoc/powerpoint-chuyen-nghiep/">Powerpoint chuyên nghiệp</a></li>
					</ul>
				</li>
				<li id="accordion-menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has-sub">
					<a href="/user/assets/viec-lam/">Việc làm</a>
					<span class="arrow"></span>
					<ul class="sub-menu">
						<li id="accordion-menu-item-648" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/user/assets/giang-vien-bright-box/">Giảng viên Bright Box</a></li>
						<li id="accordion-menu-item-649" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/user/assets/nhan-su-bright-box/">Nhân sự Bright Box</a></li>
						<li id="accordion-menu-item-571" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/user/assets/danh-muc/viec-lam/tuyen-dung-tu-cac-doanh-nghiep/">Tuyển dụng từ các doanh nghiệp</a></li>
					</ul>
				</li>
				<li id="accordion-menu-item-315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children has-sub">
					<a href="/user/assets/blog/">Blog</a>
					<span class="arrow"></span>
					<ul class="sub-menu">
						<li id="accordion-menu-item-542" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/user/assets/danh-muc/tin-tuc/">Tin tức</a></li>
						<li id="accordion-menu-item-543" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/user/assets/danh-muc/xu-huong/">Xu hướng</a></li>
						<li id="accordion-menu-item-536" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/user/assets/danh-muc/thiet-ke-do-hoa/">Thiết kế đồ họa</a></li>
						<li id="accordion-menu-item-537" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/user/assets/danh-muc/thiet-ke-noi-that/">Thiết kế nội thất</a></li>
						<li id="accordion-menu-item-538" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/user/assets/danh-muc/thiet-ke-website/">Thiết kế website</a></li>
						<li id="accordion-menu-item-535" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/user/assets/danh-muc/dung-phim/">Dựng phim</a></li>
						<li id="accordion-menu-item-539" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/user/assets/danh-muc/tieng-han/">Tiếng Hàn</a></li>
						<li id="accordion-menu-item-540" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/user/assets/danh-muc/tieng-hoa/">Tiếng Hoa</a></li>
						<li id="accordion-menu-item-541" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/user/assets/danh-muc/tieng-nhat/">Tiếng Nhật</a></li>
					</ul>
				</li>
				<li id="accordion-menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/user/assets/dich-vu-sang-tao/">Dịch vụ sáng tạo</a></li>
			</ul>
		</div><div class="menu-wrap">
			<ul id="menu-menu-tren-1" class="top-links accordion-menu">
				<li id="accordion-menu-item-302" class="register_popup featured menu-item menu-item-type-custom menu-item-object-custom"><a href="#">Đăng ký khóa học</a></li>
				<li id="accordion-menu-item-303" class="account_link menu-item menu-item-type-custom menu-item-object-custom"><a href="/user/assets/dang-nhap/">Tạo tài khoản / Đăng nhập</a></li>
			</ul>
		</div>
	</div>

	<a class="messanger_mobile" rel="nofollow noopener" href="https://www.messenger.com/t/102908951804225/?messaging_source=source%3Apages%3Amessage_shortlink" target="_blank"><svg width="60px" height="60px" viewBox="0 0 60 60"><svg width="60px" height="60px" viewBox="0 0 60 60"><svg x="0" y="0" width="60px" height="60px"><defs><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-1"><stop stop-color="#00B2FF" offset="0%"></stop><stop stop-color="#006AFF" offset="100%"></stop></linearGradient></defs><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g><circle fill="url(#linearGradient-1)" cx="30" cy="30" r="30"></circle><svg x="10" y="10"><g><rect id="container" x="0" y="0" width="40" height="40"></rect><g id="logo"><path d="M20,0 C8.7334,0 0,8.2528 0,19.4 C0,25.2307 2.3896,30.2691 6.2811,33.7492 C6.6078,34.0414 6.805,34.4513 6.8184,34.8894 L6.9273,38.4474 C6.9621,39.5819 8.1343,40.3205 9.1727,39.8621 L13.1424,38.1098 C13.4789,37.9612 13.856,37.9335 14.2106,38.0311 C16.0348,38.5327 17.9763,38.8 20,38.8 C31.2666,38.8 40,30.5472 40,19.4 C40,8.2528 31.2666,0 20,0" id="bubble" fill="#fff"></path><path d="M7.99009,25.07344 L13.86509,15.75264 C14.79959,14.26984 16.80079,13.90064 18.20299,14.95224 L22.87569,18.45674 C23.30439,18.77834 23.89429,18.77664 24.32119,18.45264 L30.63189,13.66324 C31.47419,13.02404 32.57369,14.03204 32.00999,14.92654 L26.13499,24.24744 C25.20039,25.73014 23.19919,26.09944 21.79709,25.04774 L17.12429,21.54314 C16.69559,21.22164 16.10569,21.22334 15.67879,21.54734 L9.36809,26.33674 C8.52579,26.97594 7.42629,25.96794 7.99009,25.07344" id="bolt" fill="url(#linearGradient-1)"></path></g></g></svg></g></g></svg></svg></a>

	<a id="zalo_chat" href="https://zalo.me/0395162979" target="blank"><img src="/user/assets/wp-content/themes/mypage-child/images/stick_zalo.png" height="80" width="80"></a>


	<div id="um_upload_single" style="display:none"></div>
	<div id="um_view_photo" style="display:none">

		<a href="javascript:void(0);" data-action="um_remove_modal" class="um-modal-close"
		   aria-label="Close view photo modal">
			<i class="um-faicon-times"></i>
		</a>

		<div class="um-modal-body photo">
			<div class="um-modal-photo"></div>
		</div>

	</div>
	<script type="text/html" id="wpb-modifications"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css">

	<script type="text/javascript">
		if(typeof revslider_showDoubleJqueryError === "undefined") {
			function revslider_showDoubleJqueryError(sliderID) {
				var err = "<div class='rs_error_message_box'>";
				err += "<div class='rs_error_message_oops'>Oops...</div>";
				err += "<div class='rs_error_message_content'>";
				err += "You have some jquery.js library include that comes after the Slider Revolution files js inclusion.<br>";
				err += "To fix this, you can:<br>&nbsp;&nbsp;&nbsp; 1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on";
				err += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jQuery.js inclusion and remove it";
				err += "</div>";
			err += "</div>";
				var slider = document.getElementById(sliderID); slider.innerHTML = err; slider.style.display = "block";
			}
		}
	</script>
	<link rel='stylesheet' id='redux-custom-fonts-css-css' href='/user/assets/wp-content/uploads/redux/custom-fonts/fonts.css?ver=1618040116' media='all' />
	<script id='contact-form-7-js-extra'>
		var wpcf7 = {"apiSettings":{"root":"https:\/\/tech1.mypagedemo.com\/brightbox\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"}};
	</script>
	<script src='/user/assets/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.3.2' id='contact-form-7-js'></script>
	<script id='porto-live-search-js-extra'>
		var porto_live_search = {"nonce":"f02773da3e"};
	</script>
	<script src='/user/assets/wp-content/themes/mypage/inc/lib/live-search/live-search.js?ver=6.0.6' id='porto-live-search-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/select2/select2.full.min.js?ver=4.0.13' id='select2-js'></script>
	<script src='/user/assets/wp-includes/js/underscore.min.js?ver=1.13.1' id='underscore-js'></script>
	<script id='wp-util-js-extra'>
		var _wpUtilSettings = {"ajax":{"url":"\/brightbox\/wp-admin\/admin-ajax.php"}};
	</script>
	<script src='/user/assets/wp-includes/js/wp-util.min.js?ver=5.9.10' id='wp-util-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-crop.min.js?ver=2.1.19' id='um_crop-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-modal.min.js?ver=2.1.19' id='um_modal-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-jquery-form.min.js?ver=2.1.19' id='um_jquery_form-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-fileupload.min.js?ver=2.1.19' id='um_fileupload-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/pickadate/picker.js?ver=2.1.19' id='um_datetime-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/pickadate/picker.date.js?ver=2.1.19' id='um_datetime_date-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/pickadate/picker.time.js?ver=2.1.19' id='um_datetime_time-js'></script>
	<script src='/user/assets/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.9' id='regenerator-runtime-js'></script>
	<script src='/user/assets/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0' id='wp-polyfill-js'></script>
	<script src='/user/assets/wp-includes/js/dist/hooks.min.js?ver=1e58c8c5a32b2e97491080c5b10dc71c' id='wp-hooks-js'></script>
	<script src='/user/assets/wp-includes/js/dist/i18n.min.js?ver=30fcecb428a0e8383d3776bcdd3a7834' id='wp-i18n-js'></script>
	<script id='wp-i18n-js-after'>
		wp.i18n.setLocaleData( { 'text direction\u0004ltr': [ 'ltr' ] } );
	</script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-raty.min.js?ver=2.1.19' id='um_raty-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-tipsy.min.js?ver=2.1.19' id='um_tipsy-js'></script>
	<script src='/user/assets/wp-includes/js/imagesloaded.min.js?ver=4.1.4' id='imagesloaded-js'></script>
	<script src='/user/assets/wp-includes/js/masonry.min.js?ver=4.2.2' id='masonry-js'></script>
	<script src='/user/assets/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b' id='jquery-masonry-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/simplebar.min.js?ver=2.1.19' id='um_scrollbar-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-functions.min.js?ver=2.1.19' id='um_functions-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-responsive.min.js?ver=2.1.19' id='um_responsive-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-conditional.min.js?ver=2.1.19' id='um_conditional-js'></script>
	<script id='um_scripts-js-extra'>
		var um_scripts = {"nonce":"de84ddb64c"};
	</script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-scripts.min.js?ver=2.1.19' id='um_scripts-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-profile.min.js?ver=2.1.19' id='um_profile-js'></script>
	<script src='/user/assets/wp-content/plugins/ultimate-member/assets/js/um-account.min.js?ver=2.1.19' id='um_account-js'></script>
	<script src='/user/assets/wp-includes/js/comment-reply.min.js?ver=5.9.10' id='comment-reply-js'></script>
	<script src='/user/assets/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=6.6.0' id='wpb_composer_front_js-js'></script>
	<script src='/user/assets/wp-content/themes/mypage/js/libs/popper.min.js?ver=1.12.5' id='popper-js'></script>
	<script src='/user/assets/wp-content/themes/mypage/js/bootstrap.js?ver=4.1.3' id='bootstrap-js'></script>
	<script src='/user/assets/wp-content/themes/mypage/js/libs/jquery.cookie.min.js?ver=1.4.1' id='jquery-cookie-js'></script>
	<script src='/user/assets/wp-content/themes/mypage/js/libs/owl.carousel.min.js?ver=2.3.4' id='owl.carousel-js'></script>
	<script src='/user/assets/wp-content/themes/mypage/js/libs/jquery.fitvids.min.js?ver=1.1' id='jquery-fitvids-js'></script>
	<script src='/user/assets/wp-content/themes/mypage/js/libs/jquery.matchHeight.min.js' id='jquery-matchHeight-js'></script>
	<script async="async" src='/user/assets/wp-content/themes/mypage/js/libs/modernizr.js?ver=2.8.3' id='modernizr-js'></script>
	<script async="async" src='/user/assets/wp-content/themes/mypage/js/libs/jquery.magnific-popup.min.js?ver=1.1.0' id='jquery-magnific-popup-js'></script>
	<script src='/user/assets/wp-content/themes/mypage/js/libs/jquery.waitforimages.min.js?ver=2.0.2' id='jquery-waitforimages-js'></script>
	<script id='porto-theme-js-extra'>
		var js_porto_vars = {"rtl":"","theme_url":"https:\/\/tech1.mypagedemo.com\/brightbox\/wp-content\/themes\/mypage-child","ajax_url":"https:\/\/tech1.mypagedemo.com\/brightbox\/wp-admin\/admin-ajax.php","change_logo":"","container_width":"1200","grid_gutter_width":"30","show_sticky_header":"1","show_sticky_header_tablet":"1","show_sticky_header_mobile":"1","ajax_loader_url":"\/\/tech1.mypagedemo.com\/brightbox\/wp-content\/themes\/mypage\/images\/ajax-loader@2x.gif","category_ajax":"","prdctfltr_ajax":"","slider_loop":"1","slider_autoplay":"1","slider_autoheight":"1","slider_speed":"5000","slider_nav":"","slider_nav_hover":"1","slider_margin":"","slider_dots":"1","slider_animatein":"","slider_animateout":"","product_thumbs_count":"4","product_zoom":"1","product_zoom_mobile":"1","product_image_popup":"1","zoom_type":"inner","zoom_scroll":"1","zoom_lens_size":"200","zoom_lens_shape":"square","zoom_contain_lens":"1","zoom_lens_border":"1","zoom_border_color":"#888888","zoom_border":"0","screen_lg":"1230","mfp_counter":"%curr% tr\u00ean %total%","mfp_img_error":"<a href=\"%url%\">The image<\/a> could not be loaded.","mfp_ajax_error":"<a href=\"%url%\">The content<\/a> could not be loaded.","popup_close":"\u0110\u00f3ng","popup_prev":"Tr\u01b0\u1edbc","popup_next":"Sau","request_error":"The requested content cannot be loaded.<br\/>Please try again later.","loader_text":"Loading...","submenu_back":"Quay l\u1ea1i","porto_nonce":"1931cf3231","use_skeleton_screen":["blog"],"user_edit_pages":""};
	</script>
	<script src='/user/assets/wp-content/themes/mypage/js/theme.js?ver=6.0.6' id='porto-theme-js'></script>
	<script async="async" src='/user/assets/wp-content/themes/mypage/js/theme-async.js?ver=6.0.6' id='porto-theme-async-js'></script>
	<script src='/user/assets/wp-content/themes/mypage-child/js/mypage.js?ver=1.0' id='mypagejs-js'></script>
	<script src='/user/assets/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min.js?ver=6.6.0' id='isotope-js'></script>
	<script src='/user/assets/wp-content/themes/mypage/js/libs/easypiechart.min.js?ver=2.1.4' id='easypiechart-js'></script>
	<script src='/user/assets/wp-content/themes/mypage/js/libs/jquery.slick.min.js?ver=6.0.6' id='jquery-slick-js'></script>
	<script src='/user/assets/wp-content/plugins/porto-functionality/shortcodes/assets/js/ultimate-carousel-loader.min.js?ver=2.0.5' id='porto_shortcodes_ultimate_carousel_loader_js-js'></script>
	<script>
		jQuery('.featured-services .portfolios-grid .portfolio-row').addClass('manual');
		jQuery('.porto-block-html-content-bottom .form-group.btn-gradient').removeClass('btn-gradient').children('.btn').removeClass('btn-primary').addClass('btn-quaternary');</script>
	<script type="text/javascript">
		jQuery( window ).on( 'load', function() {
			jQuery('input[name="um_request"]').val('');
		});
	</script>
</body>
</html> *@