    @{
        ViewData["Title"] = "Tin tức";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div id="main" class="column2 column2-right-sidebar boxed no-breadcrumbs">
        <div class="container">
            <div class="row main-content-wrap">

                <!-- MAIN CONTENT -->
                <div class="main-content col-lg-9">

                    <div id="content" role="main">
                        <div class="blog-posts posts posts-grid posts-grid-1">
                            <div class="row posts-container">

                                <!-- BÀI VIẾT DEMO -->
                                <article class="post post-grid col-md-12">
                                    <div class="grid-box">

                                        <!-- IMAGE -->
                                        <div class="post-image single">
                                            <a href="#">
                                                <img src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/seo2-blog-1.jpg"
                                                     class="owl-lazy img-responsive"
                                                     loading="lazy" />
                                            </a>
                                        </div>

                                        <!-- META -->
                                        <div class="post-meta">
                                            <span class="meta-date">
                                                <i class="far fa-calendar-alt"></i> 26/04/2021
                                            </span>
                                        </div>

                                        <!-- CONTENT -->
                                        <div class="post-content">
                                            <h4 class="entry-title">
                                                <a href="#">
                                                    Tuyển dụng nhân viên thiết kế quảng cáo
                                                </a>
                                            </h4>

                                            <p class="post-excerpt">
                                                Lorem ipsum dolor sit amet, consectetur adipissdfsdfdssssssssssssssfdsfsdfdsssssssssssssssssssssssssssssssssssssssssssscing elit. Nulla pretium laoreet diam...
                                            </p>
                                        </div>

                                        <!-- READ MORE -->
                                        <div class="clearfix">
                                            <a class="btn btn-xs btn-default text-xs text-uppercase btn-readmore" href="#">
                                                Đọc thêm ...
                                            </a>
                                        </div>

                                    </div>
                                </article>
                                <!-- END DEMO -->

                            </div>
                        </div>
                    </div>

                </div>

                <!-- SIDEBAR -->
            <div class="col-lg-3 sidebar porto-blog-sidebar right-sidebar">
                <div data-plugin-sticky
                     data-plugin-options='{"autoInit": true, "minWidth": 992, "containerSelector": ".main-content-wrap","autoFit": true, "paddingOffsetBottom": 10}'>

                    <div class="sidebar-content">

                        <!-- SEARCH -->
                        <aside class="widget widget_search">
                            <form method="get" class="searchform">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Tìm kiếm…" type="text">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-dark p-2">
                                            <i class="Simple-Line-Icons-magnifier"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </aside>

                        <!-- CATEGORY -->
                        <aside class="widget widget_nav_menu">
                            <p class="widget-title">Danh mục</p>
                            <ul class="menu">
                                <li><a href="#">Tin tức</a></li>
                                <li><a href="#">Xu hướng</a></li>
                                <li><a href="#">Lối sống</a></li>
                                <li><a href="#">Thiết kế đồ họa</a></li>
                                <li><a href="#">Thiết kế website</a></li>
                            </ul>
                        </aside>

                        <!-- BÀI VIẾT MỚI -->
                        <aside class="widget widget_recent_entries">
                            <p class="widget-title">Bài viết mới</p>

                            <ul>
                                <li>
                                    <a href="#">Tuyển dụng nhân viên thiết kế quảng cáo</a>
                                    <span class="post-date">26/04/2021</span>
                                </li>
                                <li>
                                    <a href="#">Tuyển dụng nhân viên thiết kế website</a>
                                    <span class="post-date">26/04/2021</span>
                                </li>
                                <li>
                                    <a href="#">Nhân viên hỗ trợ kỹ thuật</a>
                                    <span class="post-date">25/04/2021</span>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>


            </div>
        </div>
    </div>
