@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MyShop.Models.Library

<div class="container">

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Nhóm thư viện -->
        <div class="mb-3 mt-3">
            <label class="form-label"><strong>Nhóm thư viện</strong></label>
            <select asp-for="GroupLibraryId" class="form-control">
                <option value="">-- Tất cả --</option>
                @foreach (var gl in ViewBag.GroupLibraries)
                {
                    <option value="@gl.Id">@Html.DisplayName(StringHelper.ShowNameLevel(gl.Name, gl.Level))</option>
                }
            </select>
            <span asp-validation-for="GroupLibraryId" class="text-danger"></span>
        </div>

        <!-- Tên thư viện -->
        <div class="mb-3">
            <label class="form-label"><strong>Tên thư viện:</strong></label>
            <input type="text" class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <!-- Hình ảnh -->
        <div class="mb-3">
            <div class="form-group">
                <label asp-for="Image" class="control-label"><strong>Hình ảnh</strong></label>
                <input asp-for="Image" id="Image" class="form-control" />
                <div>
                    <img src="" id="PictureView" width="100" />
                </div>
                <button type="button" id="btnBrowseImage">Chọn ảnh</button>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>

        <!-- File đính kèm -->
        <div class="mb-3">
            <div class="form-group">
                <label asp-for="File" class="control-label"><strong>Video</strong></label>
                <input asp-for="File" id="File" class="form-control" />
@*                 <div>
                    <img src="" id="FileView" width="100" />
                </div>
                <button type="button" id="btnBrowseFile">Browser Server</button>
                <span asp-validation-for="File" class="text-danger"></span> *@
            </div>
        </div>

        <!-- Ngày đăng -->
        <div class="mb-3">
            <!-- Không có cột date trong DB -->
        </div>

       
        <div class="mb-3">
            <div class="form-check">
                <label for="Active" class="form-check-label text-secondary mr-4">Kích hoạt</label>
                <input type="checkbox"
                       id="Active"
                       name="Active"
                       value="true"
                       class="form-check-input"
                @((Model?.Active == 1) ? "checked" : "") />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3">
                <a class="btn btn-primary" asp-controller="Libraries" asp-action="Index">Trở lại<i class='fas'>&#xf3e5;</i></a>
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i>Lưu lại</button>
            </div>
        </div>
    </form>
</div>

<script>
    // Lắng nghe sự kiện click trên nút toggle
    document.getElementById('toggleFormButton').addEventListener('click', function () {
        var formContainer = document.getElementById('formContainer');

        // Kiểm tra xem form đang hiển thị hay ẩn và thay đổi trạng thái
        if (formContainer.style.display === 'none') {
            formContainer.style.display = 'block';  // Hiển thị form
        } else {
            formContainer.style.display = 'none';   // Ẩn form
        }
    });
</script>

@section Scripts {
    <script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/elfinder/js/elfinder.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Sự kiện cho nút duyệt hình ảnh
            if ($('#btnBrowseImage').length) {
                $('#btnBrowseImage').click(function () {
                    var fm = $('<div id="elfinder" />').dialogelfinder({
                        url: '/quan-ly-tep-tin/connector',
                        baseUrl: "/elfinder/",
                        width: 840,
                        height: 450,
                        destroyOnClose: true,
                        title: 'Quản lý tệp tin',
                        getFileCallback: function (files, fm) {
                            $('#Image').val('/' + files[0].path);
                            $('#PictureView').attr('src', '/' + files[0].path);
                        },
                        commandsOptions: {
                            getfile: {
                                multiple: true,
                                oncomplete: 'close',
                                folders: false
                            }
                        }
                    }).dialogelfinder('instance');
                });
            }

            // Sự kiện cho nút duyệt file đính kèm
            if ($('#btnBrowseFile').length) {
                $('#btnBrowseFile').click(function () {
                    var fm = $('<div id="elfinder" />').dialogelfinder({
                        url: '/quan-ly-tep-tin/connector',
                        baseUrl: "/elfinder/",
                        width: 840,
                        height: 450,
                        destroyOnClose: true,
                        title: 'Quản lý tệp tin',
                        getFileCallback: function (files, fm) {
                            $('#File').val('/' + files[0].path);
                            $('#FileView').attr('src', '/' + files[0].path);
                        },
                        commandsOptions: {
                            getfile: {
                                multiple: true,
                                oncomplete: 'close',
                                folders: false
                            }
                        }
                    }).dialogelfinder('instance');
                });
            }
        });

        // Cài đặt CKEditor cho các trường cần thiết
        CKEDITOR.replace('folder');
        CKEDITOR.replace('image');
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

