@model MyShop.Models.GroupLibrary



<main class="py-4 container">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="text-primary">Chỉnh sửa nhóm thư viện</h3>

        <div class="d-flex gap-2">
            <a asp-action="Index" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Trở lại
            </a>
        </div>
    </div>

    <form asp-action="Edit" method="post" enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger mb-3"></div>
        <input asp-for="Id" type="hidden" class="form-control" />
        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label fw-semibold">Tên nhóm</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label fw-semibold">Tag</label>
                <input asp-for="Tag" readonly class="form-control" />
            </div>
        </div>

        <!-- Thứ tự -->
        <div class="mb-3">
            <label class="form-label fw-semibold">Thứ tự</label>
            <input asp-for="Ord" type="number" min="1" class="form-control" placeholder="Ví dụ: 1, 2, 3..." />
            <span asp-validation-for="Ord" class="text-danger"></span>
        </div>
        <div class="mb-3 mt-3">
            <label>Hình ảnh</label>
            <input asp-for="Image" />
            <div style="float:left">
                <img src="" id="PictureView" width="100" />
            </div>
            <button type="button" id="btnBrowse">Chọn ảnh</button>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label class="form-label fw-semibold">Ngôn ngữ</label>
                <input asp-for="Lang" class="form-control" placeholder="vi / en" />
            </div>
            <div class="col-md-4">
                <label class="form-label fw-semibold">Hiển thị</label>
                <select asp-for="Active" class="form-select">
                    <option value="1">Hiển thị</option>
                    <option value="0">Ẩn</option>
                </select>
            </div>

        </div>

        <div class="mb-3">

            <input type="hidden" name="pictureOld" value="@Model.Image" />

            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <div class="mt-2">
                    <img src="@Model.Image"
                         style="max-height:120px;border-radius:6px;" />
                </div>
            }
        </div>


        <!-- Actions bottom -->
        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn btn-success mr-2">
                <i class="fas fa-save"></i> Lưu lại
            </button>
            <a asp-action="Index" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Trở lại
            </a>
        </div>
    </form>

</main>



@section Scripts {
    <script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/elfinder/js/elfinder.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#btnBrowse') != undefined) {
                $('#btnBrowse').click(function () {
                    var fm = $('<div id="elfinder" />').dialogelfinder({
                        url: '/quan-ly-tep-tin/connector',
                        baseUrl: "/elfinder/",
                        width: 840,
                        height: 450,
                        destroyOnClose: true,
                        title: 'Quản lý tệp tin',
                        getFileCallback: function (files, fm) {
                            $('#Image').val('/' + files[0].path);
                            $('#PictureView').attr('src', '/' + files[0].path);
                        },
                        commandsOptions: {
                            getfile: {
                                multiple: true,
                                oncomplete: 'close',
                                folders: false
                            }
                        }
                    }).dialogelfinder('instance');
                })
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function toSlug(str) {
            return str
                .toLowerCase()
                .replace(/đ/g, "d")
                .normalize("NFD").replace(/[\u0300-\u036f]/g, "") // bỏ dấu tiếng Việt
                .replace(/[^a-z0-9\s-]/g, "")                     // bỏ ký tự đặc biệt
                .trim()
                .replace(/\s+/g, "-")                             // khoảng trắng → "-"
                .replace(/-+/g, "-");                              // bỏ trùng dấu "-"
        }

        document.getElementById("Name").addEventListener("input", function () {
            document.getElementById("Tag").value = toSlug(this.value);
        });
    </script>
}