@model MyShop.Models.Config

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <form asp-controller="Configs" asp-area="Admin" asp-action="Edit" method="post">
        <br />
        <button type="submit" class="btn btn-success" onclick="return confirm('Bạn có chắc chắn muốn lưu không?')">
            <i class="fas fa-save"></i> Lưu lại
        </button>
        <br />
        <br />
        <div class="row">
            <input type="hidden" class="form-control" asp-for="Id">
            <div class="col">
                <label for="" class="form-label">Máy chủ gửi mail</label>
                <input type="text" class="form-control" asp-for="MailSmtp">
            </div>
            <div class="col">
                <label for="" class="form-label">Cổng gửi mail</label>
                <input type="text" class="form-control" asp-for="MailPort">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label">Mail nhận liên hệ</label>
                <input type="text" class="form-control" asp-for="MailInfo">
            </div>
            <div class="col">
                <label for="" class="form-label">Mail gửi thông tin</label>
                <input type="text" class="form-control" asp-for="MailNoreply">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">Mật khẩu mail gửi</label>
                <input type="password"
                       name="MailPassword"
                       class="form-control"
                       placeholder="Nhập mật khẩu mới (để trống nếu không đổi)">
            </div>


            <div class="col">
                <label for="" class="form-label">Dán mã phần Head</label>
                <input type="text" class="form-control" asp-for="PlaceHead">
            </div>
            <div class="col">
                <label for="" class="form-label">Email nhận đăng ký</label>
                <input type="text" class="form-control" asp-for="GoogleId">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label">Popup trang chủ</label>
                <textarea asp-for="Contact"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label">Thông tin Coppyright</label>
                <textarea asp-for="Copyright"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label">Hotline</label>
                <input type="text" class="form-control" asp-for="HotLine">
            </div>
            <div class="col">
                <label for="" class="form-label">Youtube Link</label>
                <input type="text" class="form-control" asp-for="YoutubeLink">
            </div>
            <div class="col">
                <label for="" class="form-label">Instagrams Link</label>
                <input type="text" class="form-control" asp-for="PicasaLink">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label">Flickr Link</label>
                <input type="text" class="form-control" asp-for="FlickrLink">
            </div>
            <div class="col">
                <label for="" class="form-label">Facebook Link</label>
                <input type="text" class="form-control" asp-for="SocialLink1">
            </div>
            <div class="col">
                <label for="" class="form-label">Hotline 2</label>
                <input type="text" class="form-control" asp-for="SocialLink2">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label">Google+</label>
                <input type="text" class="form-control" asp-for="SocialLink3">
            </div>
            <div class="col">
                <label for="" class="form-label">Linked In</label>
                <input type="text" class="form-control" asp-for="SocialLink4">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label">Địa chỉ trường</label>
                <input type="text" class="form-control" asp-for="SocialLink5">
            </div>
            <div class="col">
                <label for="" class="form-label">Sologan cho khóa dài hạn</label>
                <input type="text" class="form-control" asp-for="SocialLink6">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label">Sologan cho khóa ngắn hạn</label>
                <input type="text" class="form-control" asp-for="SocialLink7">
            </div>
            <div class="col">
                <label for="" class="form-label">Sologan</label>
                <input type="text" class="form-control" asp-for="SocialLink8">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label">Zalo Link</label>
                <input type="text" class="form-control" asp-for="SocialLink9">
            </div>
            <div class="col">
                <label for="" class="form-label">Title meta</label>
                <input type="text" class="form-control" asp-for="Title">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label">Description meta</label>
                <input type="text" class="form-control" asp-for="Description">
            </div>
            <div class="col">
                <label for="" class="form-label">Keyword meta</label>
                <input type="text" class="form-control" asp-for="Keyword">
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-success" onclick="return confirm('Bạn có chắc chắn muốn lưu không?')">
            <i class="fas fa-save"></i> Lưu lại
        </button>
    </form>
</div>
@section Scripts {
    <script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/elfinder/js/elfinder.min.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#btnBrowse') != undefined) {
                $('#btnBrowse').click(function () {
                    var fm = $('<div id="elfinder" />').dialogelfinder({
                        url: '/quan-ly-tep-tin/connector',
                        baseUrl: "/elfinder/",
                        width: 840,
                        height: 450,
                        destroyOnClose: true,
                        title: 'Quản lý tệp tin',
                        getFileCallback: function (files, fm) {
                            $('#Picture').val('/' + files[0].path);
                            $('#PictureView').attr('src', '/' + files[0].path);
                        },
                        commandsOptions: {
                            getfile: {
                                multiple: true,
                                oncomplete: 'close',
                                folders: false
                            }
                        }
                    }).dialogelfinder('instance');
                })
            }
        });
        CKEDITOR.replace('Contact');
        CKEDITOR.replace('Copyright');
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

