@{
	ViewData["Title"] = "Trang chủ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="porto-html-block porto-block-html-banner"></div>
<div class="banner-container">
	<div id="banner-wrapper" class="">

		<!-- START Trang chu REVOLUTION SLIDER 6.4.2 --><p class="rs-p-wp-fix"></p>
		<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
			<rs-module id="rev_slider_1_1" style="" data-version="6.4.2">
				<rs-slides>
					<rs-slide data-key="rs-2" data-title="Slide" data-thumb="/user/assets/wp-content/uploads/2021/04/slide-1-50x100.jpg" data-in="o:0;" data-out="a:false;">
						<img src="/user/assets/wp-content/uploads/2021/04/slide-1.jpg" title="Trang chủ" class="rev-slidebg" data-no-retina>
						<!---->
					</rs-slide>
					<rs-slide data-key="rs-3" data-title="Slide" data-thumb="/user/assets/wp-content/uploads/2021/04/slide-1-50x100.jpg" data-in="o:0;" data-out="a:false;">
						<img src="/user/assets/wp-content/uploads/2021/04/slide-1.jpg" title="Trang chủ" class="rev-slidebg" data-no-retina>
						<!---->
					</rs-slide>
				</rs-slides>
			</rs-module>
			<script type="text/javascript">
				setREVStartSize({ c: 'rev_slider_1_1', rl: [1240, 1024, 778, 480], el: [552], gw: [1920], gh: [552], type: 'standard', justify: '', layout: 'fullwidth', mh: "0" });
				var revapi1,
					tpj;
				function revinit_revslider11() {
					jQuery(function () {
						tpj = jQuery;
						revapi1 = tpj("#rev_slider_1_1");
						if (revapi1 == undefined || revapi1.revolution == undefined) {
							revslider_showDoubleJqueryError("rev_slider_1_1");
						} else {
							revapi1.revolution({
								sliderLayout: "fullwidth",
								visibilityLevels: "1240,1024,778,480",
								gridwidth: 1920,
								gridheight: 552,
								autoHeight: true,
								enableUpscaling: true,
								perspective: 600,
								perspectiveType: "global",
								editorheight: "552,768,960,720",
								responsiveLevels: "1240,1024,778,480",
								progressBar: { disableProgressBar: true },
								navigation: {
									wheelCallDelay: 1000,
									onHoverStop: false,
									arrows: {
										enable: true,
										style: "hephaistos",
										left: {
											h_offset: 30
										},
										right: {
											h_offset: 30
										}
									},
									bullets: {
										enable: true,
										tmp: "<span class=\"tp-bullet-title\">{{title}}</span>",
										style: "ares"
									}
								},
								fallbacks: {
									allowHTML5AutoPlayOnAndroid: true
								},
							});
						}

					});
				} // End of RevInitScript
				var once_revslider11 = false;
				if (document.readyState === "loading") { document.addEventListener('readystatechange', function () { if ((document.readyState === "interactive" || document.readyState === "complete") && !once_revslider11) { once_revslider11 = true; revinit_revslider11(); } }); } else { once_revslider11 = true; revinit_revslider11(); }
			</script>
			<script>
				var htmlDivCss = unescape("%23rev_slider_1_1_wrapper%20.hephaistos.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A1000%3B%0A%20%20%20%20border-radius%3A50%25%3B%0A%7D%0A%23rev_slider_1_1_wrapper%20.hephaistos.tparrows%3Ahover%20%7B%0A%09background%3A%23000000%3B%0A%7D%0A%23rev_slider_1_1_wrapper%20.hephaistos.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%27revicons%27%3B%0A%09font-size%3A18px%3B%0A%09color%3A%23ffffff%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A%23rev_slider_1_1_wrapper%20.hephaistos.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%27%5Ce82c%27%3B%0A%20%20%20%20margin-left%3A-2px%3B%0A%20%20%0A%7D%0A%23rev_slider_1_1_wrapper%20.hephaistos.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%27%5Ce82d%27%3B%0A%20%20%20%20margin-right%3A-2px%3B%0A%7D%0A%0A%0A%23rev_slider_1_1_wrapper%20.ares.tp-bullets%20%7B%0A%7D%0A%23rev_slider_1_1_wrapper%20.ares.tp-bullets%3Abefore%20%7B%0A%09content%3A%27%20%27%3B%0A%09position%3Aabsolute%3B%0A%09width%3A100%25%3B%0A%09height%3A100%25%3B%0A%09background%3Atransparent%3B%0A%09padding%3A10px%3B%0A%09margin-left%3A-10px%3Bmargin-top%3A-10px%3B%0A%09box-sizing%3Acontent-box%3B%0A%7D%0A%23rev_slider_1_1_wrapper%20.ares%20.tp-bullet%20%7B%0A%09width%3A13px%3B%0A%09height%3A13px%3B%0A%09position%3Aabsolute%3B%0A%09background%3A%23e5e5e5%3B%0A%09border-radius%3A50%25%3B%0A%09cursor%3A%20pointer%3B%0A%09box-sizing%3Acontent-box%3B%0A%7D%0A%23rev_slider_1_1_wrapper%20.ares%20.tp-bullet%3Ahover%2C%0A%23rev_slider_1_1_wrapper%20.ares%20.tp-bullet.selected%20%7B%0A%09background%3A%23ffffff%3B%0A%7D%0A%23rev_slider_1_1_wrapper%20.ares%20.tp-bullet-title%20%7B%0A%20%20position%3Aabsolute%3B%0A%20%20color%3A%23888888%3B%0A%20%20font-size%3A12px%3B%0A%20%20padding%3A0px%2010px%3B%0A%20%20font-weight%3A600%3B%0A%20%20right%3A27px%3B%0A%20%20top%3A-4px%3B%20%20%0A%20%20background%3Argba%28255%2C255%2C255%2C0.75%29%3B%0A%20%20visibility%3Ahidden%3B%0A%20%20transform%3Atranslatex%28-20px%29%3B%0A%20%20-webkit-transform%3Atranslatex%28-20px%29%3B%0A%20%20transition%3Atransform%200.3s%3B%0A%20%20-webkit-transition%3Atransform%200.3s%3B%0A%20%20line-height%3A20px%3B%0A%20%20white-space%3Anowrap%3B%0A%7D%20%20%20%20%20%0A%0A%23rev_slider_1_1_wrapper%20.ares%20.tp-bullet-title%3Aafter%20%7B%0A%20%20%20%20width%3A%200px%3B%0A%09height%3A%200px%3B%0A%09border-style%3A%20solid%3B%0A%09border-width%3A%2010px%200%2010px%2010px%3B%0A%09border-color%3A%20transparent%20transparent%20transparent%20rgba%28255%2C255%2C255%2C0.75%29%3B%0A%09content%3A%27%20%27%3B%0A%20%20%20%20position%3Aabsolute%3B%0A%20%20%20%20right%3A-10px%3B%0A%09top%3A0px%3B%0A%7D%0A%20%20%20%20%0A%23rev_slider_1_1_wrapper%20.ares%20.tp-bullet%3Ahover%20.tp-bullet-title%7B%0A%20%20visibility%3Avisible%3B%0A%20%20%20transform%3Atranslatex%280px%29%3B%0A%20%20-webkit-transform%3Atranslatex%280px%29%3B%0A%7D%0A%0A%23rev_slider_1_1_wrapper%20.ares%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%20%7B%0A%20%20%20%20background%3A%23ffffff%3B%7D%0A%23rev_slider_1_1_wrapper%20.ares%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%3Aafter%20%7B%0A%20%20border-color%3Atransparent%20transparent%20transparent%20%23ffffff%3B%0A%7D%0A%23rev_slider_1_1_wrapper%20.ares.tp-bullets%3Ahover%20.tp-bullet-title%20%7B%0A%20%20visibility%3Ahidden%3B%0A%20%20%0A%7D%0A%23rev_slider_1_1_wrapper%20.ares.tp-bullets%3Ahover%20.tp-bullet%3Ahover%20.tp-bullet-title%20%7B%0A%20%20%20%20visibility%3Avisible%3B%0A%20%20%20%20transform%3AtranslateX%280px%29%20translatey%280px%29%3B%0A%20%20-webkit-transform%3AtranslateX%280px%29%20translatey%280px%29%3B%0A%7D%0A%0A%0A%2F%2A%20VERTICAL%20%2A%2F%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-vertical.nav-pos-hor-left%20.tp-bullet-title%20%7B%20right%3Aauto%3B%20left%3A27px%3B%20%20transform%3Atranslatex%2820px%29%3B%20-webkit-transform%3Atranslatex%2820px%29%3B%7D%20%20%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-vertical.nav-pos-hor-left%20.tp-bullet-title%3Aafter%20%7B%20%0A%20%20border-width%3A%2010px%2010px%2010px%200%20%21important%3B%0A%20%20border-color%3A%20transparent%20rgba%28255%2C255%2C255%2C0.75%29%20transparent%20transparent%3B%0A%20%20right%3Aauto%20%21important%3B%0A%20%20left%3A-10px%20%21important%3B%20%20%20%0A%7D%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-vertical.nav-pos-hor-left%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%3Aafter%20%7B%0A%20%20border-color%3A%20%20transparent%20%23ffffff%20transparent%20transparent%20%21important%3B%0A%7D%0A%0A%0A%0A%2F%2A%20HORIZONTAL%20BOTTOM%20%26%26%20CENTER%20%2A%2F%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-center%20.tp-bullet-title%2C%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-bottom%20.tp-bullet-title%20%7B%20top%3A-35px%3B%20left%3A50%25%3B%20right%3Aauto%3B%20transform%3A%20translateX%28-50%25%29%20translateY%28-10px%29%3B-webkit-transform%3A%20translateX%28-50%25%29%20translateY%28-10px%29%3B%20%7D%20%20%0A%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-center%20.tp-bullet-title%3Aafter%2C%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-bottom%20.tp-bullet-title%3Aafter%20%7B%20%0A%20%20border-width%3A%2010px%2010px%200px%2010px%3B%0A%20%20border-color%3A%20rgba%28255%2C255%2C255%2C0.75%29%20transparent%20transparent%20transparent%3B%0A%20%20right%3Aauto%3B%0A%20%20left%3A50%25%3B%0A%20%20margin-left%3A-10px%3B%0A%20%20top%3Aauto%3B%0A%20%20bottom%3A-10px%3B%0A%20%20%20%20%0A%7D%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-center%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%3Aafter%2C%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-bottom%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%3Aafter%20%7B%0A%20%20border-color%3A%20%20%23ffffff%20transparent%20transparent%20transparent%3B%0A%7D%0A%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-center%20.tp-bullet%3Ahover%20.tp-bullet-title%2C%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-bottom%20.tp-bullet%3Ahover%20.tp-bullet-title%7B%0A%20%20%20transform%3AtranslateX%28-50%25%29%20translatey%280px%29%3B%0A%20%20-webkit-transform%3AtranslateX%28-50%25%29%20translatey%280px%29%3B%0A%7D%0A%0A%0A%2F%2A%20HORIZONTAL%20TOP%20%2A%2F%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-top%20.tp-bullet-title%20%7B%20top%3A25px%3B%20left%3A50%25%3B%20right%3Aauto%3B%20transform%3A%20translateX%28-50%25%29%20translateY%2810px%29%3B-webkit-transform%3A%20translateX%28-50%25%29%20translateY%2810px%29%3B%20%7D%20%20%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-top%20.tp-bullet-title%3Aafter%20%7B%20%0A%20%20border-width%3A%200%2010px%2010px%2010px%3B%0A%20%20border-color%3A%20%20transparent%20transparent%20rgba%28255%2C255%2C255%2C0.75%29%20transparent%3B%0A%20%20right%3Aauto%3B%0A%20%20left%3A50%25%3B%0A%20%20margin-left%3A-10px%3B%0A%20%20bottom%3Aauto%3B%0A%20%20top%3A-10px%3B%0A%20%20%20%20%0A%7D%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-top%20.tp-bullet.selected%3Ahover%20.tp-bullet-title%3Aafter%20%7B%0A%20%20border-color%3A%20%20transparent%20transparent%20%20%23ffffff%20transparent%3B%0A%7D%0A%0A%23rev_slider_1_1_wrapper%20.ares.nav-dir-horizontal.nav-pos-ver-top%20.tp-bullet%3Ahover%20.tp-bullet-title%7B%0A%20%20%20transform%3AtranslateX%28-50%25%29%20translatey%280px%29%3B%0A%20%20-webkit-transform%3AtranslateX%28-50%25%29%20translatey%280px%29%3B%0A%7D%0A%0A%0A");
				var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
				if (htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				} else {
					var htmlDiv = document.createElement('div');
					htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
					document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
			<script>
				var htmlDivCss = unescape("%0A%0A%0A%0A");
				var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
				if (htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				} else {
					var htmlDiv = document.createElement('div');
					htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
					document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
		</rs-module-wrap>
		<!-- END REVOLUTION SLIDER -->
	</div>
</div>

<div id="main" class="column1 boxed no-breadcrumbs">
	<!-- main -->

	<div class="container">
		<div class="row main-content-wrap">

			<!-- main content -->
			<div class="main-content col-lg-12">


				<div id="content" role="main">

					<article class="post-2 page type-page status-publish hentry">

						<span class="entry-title" style="display: none;">Trang chủ</span><span class="vcard" style="display: none;"><span class="fn"><a href="https:/user/assets/author/mypage/" title="Đăng bởi DEV" rel="author">DEV</a></span></span><span class="updated" style="display:none">2021-05-05T16:46:14+07:00</span>
						<div class="page-content">
							<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row row vc_custom_1617889422007 vc_row-has-fill">
								<div class="vc_column_container col-md-12">
									<div class="wpb_wrapper vc_column-inner">
										<div role="form" class="wpcf7" id="wpcf7-f322-p2-o1" lang="vi" dir="ltr">
											<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
											<form action="/brightbox/#wpcf7-f322-p2-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
												<div style="display: none;">
													<input type="hidden" name="_wpcf7" value="322" />
													<input type="hidden" name="_wpcf7_version" value="5.3.2" />
													<input type="hidden" name="_wpcf7_locale" value="vi" />
													<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f322-p2-o1" />
													<input type="hidden" name="_wpcf7_container_post" value="2" />
													<input type="hidden" name="_wpcf7_posted_data_hash" value="" />
												</div>
												<div class="register_form hoz">
													<div class="row gutters-6">
														<div class="col-lg-12 col-xl-2">
															<h3 class="register_title">Đăng ký khóa học tại Bright Box</h3>
														</div>
														<div class="col-lg-6 col-xl-2">
															<span class="wpcf7-form-control-wrap ho-ten"><input type="text" name="ho-ten" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Họ và tên*" /></span>
														</div>
														<div class="col-lg-6 col-xl-2">
															<span class="wpcf7-form-control-wrap email-141"><input type="email" name="email-141" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email*" /></span>
														</div>
														<div class="col-lg-6 col-xl-2">
															<span class="wpcf7-form-control-wrap tel-759"><input type="tel" name="tel-759" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control" aria-required="true" aria-invalid="false" placeholder="Số điện thoại*" /></span>
														</div>
														<div class="col-lg-6 col-xl-2 select_arrow">
															<span class="wpcf7-form-control-wrap khoa-hoc">
																<select name="khoa-hoc" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required form-control select2_dropdown" aria-required="true" aria-invalid="false">
																	<option value="Chăm sóc">chăm sóc</option>
																	<option value="Thiết kế đồ họa">Thiết kế đồ họa</option>
																	<option value="Thiết kế nội thất">Thiết kế nội thất</option>
																	<option value="Ngoại ngữ">Ngoại ngữ</option>
																	<option value="Tin học văn phòng">Tin học văn phòng</option>
																</select>
															</span>
														</div>
														<div class="col-lg-12 col-xl-2">
															<input type="submit" value="Đăng ký ngay!" class="wpcf7-form-control wpcf7-submit" />
														</div>
													</div>
												</div><div class="wpcf7-response-output" aria-hidden="true"></div>
											</form>
										</div>
									</div>
								</div>
							</div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row row vc_custom_1617891734539 vc_row-has-fill"><div class="vc_column_container col-md-6 col-lg-1-5 col-6"><div class="wpb_wrapper vc_column-inner"><div class="porto-sicon-box info_one style_1 left-icon"><div class="porto-sicon-left"><div id="porto-icon-40981913869537f4b59d81" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 53px;"><img class="img-icon" alt="" src="https:/user/assets/wp-content/uploads/2021/04/icon-1.png" width="53" height="50" /></div></div></div><div class="porto-sicon-body"><div class="porto-sicon-header"><h5 class="porto-sicon-title" style="">Giảng viên trực tiếp giảng dạy</h5></div> <!-- header --></div></div><!-- porto-sicon-box --></div></div><div class="vc_column_container col-md-6 col-lg-1-5 col-6"><div class="wpb_wrapper vc_column-inner"><div class="porto-sicon-box info_one style_1 left-icon"><div class="porto-sicon-left"><div id="porto-icon-53363942269537f4b5aede" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 53px;"><img class="img-icon" alt="" src="https:/user/assets/wp-content/uploads/2021/04/icon-2.png" width="53" height="50" /></div></div></div><div class="porto-sicon-body"><div class="porto-sicon-header"><h5 class="porto-sicon-title" style="">Tiết kiệm thời gian và chi phí</h5></div> <!-- header --></div></div><!-- porto-sicon-box --></div></div><div class="vc_column_container col-md-6 col-lg-1-5 col-6"><div class="wpb_wrapper vc_column-inner"><div class="porto-sicon-box info_one style_1 left-icon"><div class="porto-sicon-left"><div id="porto-icon-23403718169537f4b5c057" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 53px;"><img class="img-icon" alt="" src="https:/user/assets/wp-content/uploads/2021/04/icon-3.png" width="53" height="50" /></div></div></div><div class="porto-sicon-body"><div class="porto-sicon-header"><h5 class="porto-sicon-title" style="">Kiến thức tinh gọn, có tính ứng dụng cao</h5></div> <!-- header --></div></div><!-- porto-sicon-box --></div></div><div class="vc_column_container col-md-6 col-lg-1-5 col-6"><div class="wpb_wrapper vc_column-inner"><div class="porto-sicon-box info_one style_1 left-icon"><div class="porto-sicon-left"><div id="porto-icon-19297786869537f4b5d126" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 53px;"><img class="img-icon" alt="" src="https:/user/assets/wp-content/uploads/2021/04/icon-4.png" width="53" height="50" /></div></div></div><div class="porto-sicon-body"><div class="porto-sicon-header"><h5 class="porto-sicon-title" style="">Tương tác và hỗ trợ hiệu quả</h5></div> <!-- header --></div></div><!-- porto-sicon-box --></div></div><div class="vc_column_container col-md-12 col-lg-1-5 col-12"><div class="wpb_wrapper vc_column-inner"><div class="porto-sicon-box info_one style_1 left-icon"><div class="porto-sicon-left"><div id="porto-icon-199710562369537f4b5e1d1" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 53px;"><img class="img-icon" alt="" src="https:/user/assets/wp-content/uploads/2021/04/icon-5.png" width="53" height="50" /></div></div></div><div class="porto-sicon-body"><div class="porto-sicon-header"><h5 class="porto-sicon-title" style="">Kết nối nghề nghiệp hấp dẫn</h5></div> <!-- header --></div></div><!-- porto-sicon-box --></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row row bg_logo vc_custom_1619090442850">
								<div class="vc_column_container col-md-12">
									<div class="wpb_wrapper vc_column-inner">
										<div id="porto-portfolio-4735" class="porto-portfolios porto-portfoliosd242561af9f93b57d7c66f757c92cbb5 wpb_content_element ">

											<div class="page-portfolios portfolios-grid clearfix">
												<div class="portfolio_header">
													<h2 class="wpb_heading title_one">Khoá học</h2>		<div class="portfolio-filter-custom">
														<div id="portfolioAjaxBox" class="ajax-box">
															<div class="bounce-loader">
																<div class="bounce1"></div>
																<div class="bounce2"></div>
																<div class="bounce3"></div>
															</div>
															<div class="ajax-box-content" id="portfolioAjaxBoxContent"></div>
														</div>

														<ul class="portfolio-filter-custom nav sort-source sort-source-style-3">
															<li class="active" data-filter="*"><a href="#">Tất cả</a></li>
															<li data-filter="hot-nhat"><a href="https:/user/assets/danh-muc-khoa-hoc/hot-nhat/">Hot nhất</a></li>
															<li data-filter="thiet-ke-do-hoa"><a href="https:/user/assets/danh-muc-khoa-hoc/thiet-ke-do-hoa/">Thiết kế đồ họa</a></li>
															<li data-filter="thiet-ke-noi-that"><a href="https:/user/assets/danh-muc-khoa-hoc/thiet-ke-noi-that/">Thiết kế nội thất</a></li>
															<li data-filter="ngoai-ngu"><a href="https:/user/assets/danh-muc-khoa-hoc/ngoai-ngu/">Ngoại ngữ</a></li>
															<li data-filter="tin-hoc-van-phong"><a href="https:/user/assets/danh-muc-khoa-hoc/tin-hoc-van-phong/">Tin học văn phòng</a></li>
														</ul>
													</div>


													<a class="btn btn-primary" href="https:/user/assets/khoa-hoc/">Xem Thêm</a>
												</div>

												<p class="portfolio_description">Lựa chọn khóa học ngay hôm nay để nhận ưu đãi tốt nhất</p>

												<div class="portfolio-row portfolio-row-3 classic">


													<article class="portfolio portfolio-grid portfolio-col-3 thiet-ke-do-hoa post-503 type-portfolio status-publish has-post-thumbnail hentry portfolio_cat-thiet-ke-do-hoa">
														<span class="entry-title" style="display: none;">Dàn trang với Adobe Indesign</span><span class="vcard" style="display: none;"><span class="fn"><a href="https:/user/assets/author/mypage/" title="Đăng bởi DEV" rel="author">DEV</a></span></span><span class="updated" style="display:none">2021-04-23T23:27:10+07:00</span>		<div class="portfolio-item outimage">

															<a class="text-decoration-none portfolio-link" href="https:/user/assets/khoa-hoc/dan-trang-voi-adobe-indesign/">
																<span class="thumb-info thumb-info-hide-wrapper-bg thumb-info-no-zoom">
																	<span class="thumb-info-wrapper">
																		<img class="img-responsive" src="https:/user/assets/wp-content/uploads/2020/06/img-2-367x278.jpg" alt="" width="367" height="278" />
																	</span>
																</span>
															</a>
															<div class="rating_student">
																<div class="portfolio_rating">
																	<div class="star-rating">
																		<span style="width:92%"> <strong class="rating">4.6</strong> out of 5 </span>
																	</div>
																	<div class="star-number">4.6</div>
																</div>
																<div class="portfolio_student">
																	<span>12,283 học viên</span>
																</div>
															</div>

															<h4 class="portfolio-title"><a class="text-decoration-none" href="https:/user/assets/khoa-hoc/dan-trang-voi-adobe-indesign/">Dàn trang với Adobe Indesign</a></h4>
															<p class="portfolio_opening">Ngày khai giảng: Đang cập nhật</p>

															<div class="portfolio_teacher">
																<div class="portfolio_teacher_thumbnail">
																	<img alt="teacher" class="img-responsive img-circle" src="https:/user/assets/wp-content/uploads/2020/06/img-4.png">
																</div>
																<p><strong>Nguyễn Tiến Huy </strong><span>MBA RMIT Vietnam - Nhà sáng lập... ...và....</span></p>
															</div>


														</div>
													</article>
													<article class="portfolio portfolio-grid portfolio-col-3 tin-hoc-van-phong post-497 type-portfolio status-publish has-post-thumbnail hentry portfolio_cat-tin-hoc-van-phong">
														<span class="entry-title" style="display: none;">Powerpoint chuyên nghiệp</span><span class="vcard" style="display: none;"><span class="fn"><a href="https:/user/assets/author/mypage/" title="Đăng bởi DEV" rel="author">DEV</a></span></span><span class="updated" style="display:none">2021-04-23T23:25:13+07:00</span>		<div class="portfolio-item outimage">

															<a class="text-decoration-none portfolio-link" href="https:/user/assets/khoa-hoc/powerpoint-chuyen-nghiep/">
																<span class="thumb-info thumb-info-hide-wrapper-bg thumb-info-no-zoom">
																	<span class="thumb-info-wrapper">
																		<img class="img-responsive" src="https:/user/assets/wp-content/uploads/2020/06/img-2-367x278.jpg" alt="" width="367" height="278" />
																	</span>
																</span>
															</a>
															<div class="rating_student">
																<div class="portfolio_rating">
																	<div class="star-rating">
																		<span style="width:98%"> <strong class="rating">4.9</strong> out of 5 </span>
																	</div>
																	<div class="star-number">4.9</div>
																</div>
																<div class="portfolio_student">
																	<span>12,283 học viên</span>
																</div>
															</div>

															<h4 class="portfolio-title"><a class="text-decoration-none" href="https:/user/assets/khoa-hoc/powerpoint-chuyen-nghiep/">Powerpoint chuyên nghiệp</a></h4>
															<p class="portfolio_opening">Ngày khai giảng: Đang cập nhật</p>

															<div class="portfolio_teacher">
																<div class="portfolio_teacher_thumbnail">
																	<img alt="teacher" class="img-responsive img-circle" src="https:/user/assets/wp-content/uploads/2020/06/img-4.png">
																</div>
																<p><strong>Nguyễn Tiến Huy </strong><span>MBA RMIT Vietnam - Nhà sáng lập... ...và....</span></p>
															</div>


														</div>
													</article>
													<article class="portfolio portfolio-grid portfolio-col-3 tin-hoc-van-phong post-495 type-portfolio status-publish has-post-thumbnail hentry portfolio_cat-tin-hoc-van-phong">
														<span class="entry-title" style="display: none;">Excel chuyên nghiệp</span><span class="vcard" style="display: none;"><span class="fn"><a href="https:/user/assets/author/mypage/" title="Đăng bởi DEV" rel="author">DEV</a></span></span><span class="updated" style="display:none">2021-04-23T23:24:35+07:00</span>		<div class="portfolio-item outimage">

															<a class="text-decoration-none portfolio-link" href="https:/user/assets/khoa-hoc/excel-chuyen-nghiep/">
																<span class="thumb-info thumb-info-hide-wrapper-bg thumb-info-no-zoom">
																	<span class="thumb-info-wrapper">
																		<img class="img-responsive" src="https:/user/assets/wp-content/uploads/2020/06/img-2-367x278.jpg" alt="" width="367" height="278" />
																	</span>
																</span>
															</a>
															<div class="rating_student">
																<div class="portfolio_rating">
																	<div class="star-rating">
																		<span style="width:96%"> <strong class="rating">4.8</strong> out of 5 </span>
																	</div>
																	<div class="star-number">4.8</div>
																</div>
																<div class="portfolio_student">
																	<span>12,283 học viên</span>
																</div>
															</div>

															<h4 class="portfolio-title"><a class="text-decoration-none" href="https:/user/assets/khoa-hoc/excel-chuyen-nghiep/">Excel chuyên nghiệp</a></h4>
															<p class="portfolio_opening">Ngày khai giảng: Đang cập nhật</p>

															<div class="portfolio_teacher">
																<div class="portfolio_teacher_thumbnail">
																	<img alt="teacher" class="img-responsive img-circle" src="https:/user/assets/wp-content/uploads/2020/06/img-4.png">
																</div>
																<p><strong>Nguyễn Tiến Huy </strong><span>MBA RMIT Vietnam - Nhà sáng lập... ...và....</span></p>
															</div>


														</div>
													</article>



												</div>



											</div>


										</div>
									</div>
								</div>
							</div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row row vc_custom_1617934810598 vc_row-has-fill"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><div class="porto-u-heading title_two" data-hspacer="line_only" data-halign="center" style="text-align:center"><div class="porto-u-main-heading"><h2>Học viên Bright Box</h2></div><div class="porto-u-heading-spacer line_only" style="height:2px;"><span class="porto-u-headings-line" style="border-style:solid;border-bottom-width:2px;border-color:#ccc;width:40px;"></span></div><div class="porto-u-sub-heading" style="">Học viên của chúng tôi muốn nâng cao kiến thức chuẩn bị cho tương lai</div></div><div class="vc_row wpb_row vc_inner row"><div class="vc_column_container col-md-4"><div class="wpb_wrapper vc_column-inner"><div class="porto-sicon-box info_two blue style_1 top-icon"><div class="porto-sicon-top"><div id="porto-icon-109516882069537f4e0780c" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 150px;"><img class="img-icon" alt="" src="https:/user/assets/wp-content/uploads/2020/06/img-5.jpg" width="150" height="150" /></div></div></div><div class="porto-sicon-header"><p>Học sinh THPT năng động, ham học hỏi, muốn trang bị các kỹ năng cần thiết để chuẩn bị cho các ngành học trong tương lai.</p></div> <!-- header --></div><!-- porto-sicon-box --></div></div><div class="vc_column_container col-md-4"><div class="wpb_wrapper vc_column-inner"><div class="porto-sicon-box info_two orange style_1 top-icon"><div class="porto-sicon-top"><div id="porto-icon-65595249769537f4e08854" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 150px;"><img class="img-icon" alt="" src="https:/user/assets/wp-content/uploads/2020/06/img-6.jpg" width="150" height="150" /></div></div></div><div class="porto-sicon-header"><p>Sinh viên các chuyên ngành muốn nâng cao các kỹ năng được giảng dạy trong trường để chuẩn bị cho các kỳ thi hoặc trang bị cho công việc trong tương lai</p></div> <!-- header --></div><!-- porto-sicon-box --></div></div><div class="vc_column_container col-md-4"><div class="wpb_wrapper vc_column-inner"><div class="porto-sicon-box info_two green style_1 top-icon"><div class="porto-sicon-top"><div id="porto-icon-3473057669537f4e097df" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 150px;"><img class="img-icon" alt="" src="https:/user/assets/wp-content/uploads/2020/06/img-7.jpg" width="150" height="150" /></div></div></div><div class="porto-sicon-header"><p>Người đi làm muốn nâng cao năng lực, tìm kiếm cơ hội gia tăng thu nhập hoặc tạo ra nguồn thu nhập khác ngoài công việc chính đảm bảo sự ổn định và vững vàng về tài chính.</p></div> <!-- header --></div><!-- porto-sicon-box --></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row row vc_custom_1617936161832">
								<div class="vc_column_container col-md-6">
									<div class="wpb_wrapper vc_column-inner">
										<h2 class="vc_custom_heading title_one align-left">Sản phẩm của học viên</h2>
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper">
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at eleifend est. Donec dictum at diam ut finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam diam magna, condimentum in nibh sed, mattis fermentum diam</p>

											</div>
										</div>
									</div>
								</div><div class="vc_column_container col-md-6"><div class="wpb_wrapper vc_column-inner"><style>.mfp-bg.mfp-fade { background-color:rgba(0,0,0,0.8); }</style><div class="porto-modal-input-wrapper video_btn"><img src="https:/user/assets/wp-content/uploads/2020/06/img-8.jpg" alt="" data-trigger-id="https://www.youtube.com/watch?v=6V0-MLhdQb4" data-type="iframe" class="porto-modal-trigger img-responsive" width="570" height="321" data-overlay-class="mfp-fade" /></div><div id="https://www.youtube.com/watch?v=6V0-MLhdQb4" class="mfp-hide "><div class="porto-modal-content"></div></div></div></div>
							</div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row row vc_custom_1617938775591 vc_row-has-fill"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><h2 style="text-align: center" class="vc_custom_heading title_one white">Phản hồi của học viên</h2><div class="porto-carousel owl-carousel has-ccols ccols-xl-3 ccols-lg-3 ccols-md-2 ccols-1 " data-plugin-options="{&quot;stagePadding&quot;:0,&quot;margin&quot;:30,&quot;autoplay&quot;:&quot;yes&quot;,&quot;autoplayTimeout&quot;:5000,&quot;autoplayHoverPause&quot;:&quot;true&quot;,&quot;items&quot;:3,&quot;lg&quot;:3,&quot;md&quot;:2,&quot;sm&quot;:1,&quot;xs&quot;:1,&quot;nav&quot;:false,&quot;dots&quot;:&quot;yes&quot;,&quot;animateIn&quot;:&quot;&quot;,&quot;animateOut&quot;:&quot;&quot;,&quot;loop&quot;:false,&quot;center&quot;:false,&quot;video&quot;:false,&quot;lazyLoad&quot;:false,&quot;fullscreen&quot;:false}"><div class="porto-testimonial wpb_content_element "><div class="testimonial testimonial-style-4"><div class="testimonial-author clearfix"><div class="testimonial-author-thumbnail"><img class="img-responsive img-circle" src="https:/user/assets/wp-content/uploads/2020/06/img-9.jpg" alt="Giang Thùy Trang"></div><div class="testimonial_header_desc"><p><strong>Giang Thùy Trang</strong><span>Học viên khóa Thiết kế đồ họa</span><span>Nhân viên Kế toán</span></p><div class="testimonial_rating"><div class="star-rating"><span style="width:94%"><strong class="rating">4.7</strong> out of 5 </span></div></div></div></div><div class="testimonial-arrow-down"></div><blockquote><p>Bài giảng rất dễ hiểu, mình thực hành được ngay tại lớp và cảm thấy rất hứng thú. Mình chưa từng nghĩ mình có thể đạt được những kỹ năng liên quan đến thiết kế dễ dàng như thế. Mình sẽ tiếp tục đồng hành thêm những khóa học khác của Bright Box</p></blockquote><a class="testimonial_readmore" href="#">Xem chi tiết</a></div></div><div class="porto-testimonial wpb_content_element "><div class="testimonial testimonial-style-4"><div class="testimonial-author clearfix"><div class="testimonial-author-thumbnail"><img class="img-responsive img-circle" src="https:/user/assets/wp-content/uploads/2020/06/img-9.jpg" alt="Giang Thùy Trang"></div><div class="testimonial_header_desc"><p><strong>Giang Thùy Trang</strong><span>Học viên khóa Thiết kế đồ họa</span><span>Nhân viên Kế toán</span></p><div class="testimonial_rating"><div class="star-rating"><span style="width:94%"><strong class="rating">4.7</strong> out of 5 </span></div></div></div></div><div class="testimonial-arrow-down"></div><blockquote><p>Bài giảng rất dễ hiểu, mình thực hành được ngay tại lớp và cảm thấy rất hứng thú. Mình chưa từng nghĩ mình có thể đạt được những kỹ năng liên quan đến thiết kế dễ dàng như thế. Mình sẽ tiếp tục đồng hành thêm những khóa học khác của Bright Box</p></blockquote><a class="testimonial_readmore" href="#">Xem chi tiết</a></div></div><div class="porto-testimonial wpb_content_element "><div class="testimonial testimonial-style-4"><div class="testimonial-author clearfix"><div class="testimonial-author-thumbnail"><img class="img-responsive img-circle" src="https:/user/assets/wp-content/uploads/2020/06/img-9.jpg" alt="Giang Thùy Trang"></div><div class="testimonial_header_desc"><p><strong>Giang Thùy Trang</strong><span>Học viên khóa Thiết kế đồ họa</span><span>Nhân viên Kế toán</span></p><div class="testimonial_rating"><div class="star-rating"><span style="width:94%"><strong class="rating">4.7</strong> out of 5 </span></div></div></div></div><div class="testimonial-arrow-down"></div><blockquote><p>Bài giảng rất dễ hiểu, mình thực hành được ngay tại lớp và cảm thấy rất hứng thú. Mình chưa từng nghĩ mình có thể đạt được những kỹ năng liên quan đến thiết kế dễ dàng như thế. Mình sẽ tiếp tục đồng hành thêm những khóa học khác của Bright Box</p></blockquote><a class="testimonial_readmore" href="#">Xem chi tiết</a></div></div><div class="porto-testimonial wpb_content_element "><div class="testimonial testimonial-style-4"><div class="testimonial-author clearfix"><div class="testimonial-author-thumbnail"><img class="img-responsive img-circle" src="https:/user/assets/wp-content/uploads/2020/06/img-9.jpg" alt="Giang Thùy Trang"></div><div class="testimonial_header_desc"><p><strong>Giang Thùy Trang</strong><span>Học viên khóa Thiết kế đồ họa</span><span>Nhân viên Kế toán</span></p><div class="testimonial_rating"><div class="star-rating"><span style="width:94%"><strong class="rating">4.7</strong> out of 5 </span></div></div></div></div><div class="testimonial-arrow-down"></div><blockquote><p>Bài giảng rất dễ hiểu, mình thực hành được ngay tại lớp và cảm thấy rất hứng thú. Mình chưa từng nghĩ mình có thể đạt được những kỹ năng liên quan đến thiết kế dễ dàng như thế. Mình sẽ tiếp tục đồng hành thêm những khóa học khác của Bright Box</p></blockquote><a class="testimonial_readmore" href="#">Xem chi tiết</a></div></div><div class="porto-testimonial wpb_content_element "><div class="testimonial testimonial-style-4"><div class="testimonial-author clearfix"><div class="testimonial-author-thumbnail"><img class="img-responsive img-circle" src="https:/user/assets/wp-content/uploads/2020/06/img-9.jpg" alt="Giang Thùy Trang"></div><div class="testimonial_header_desc"><p><strong>Giang Thùy Trang</strong><span>Học viên khóa Thiết kế đồ họa</span><span>Nhân viên Kế toán</span></p><div class="testimonial_rating"><div class="star-rating"><span style="width:94%"><strong class="rating">4.7</strong> out of 5 </span></div></div></div></div><div class="testimonial-arrow-down"></div><blockquote><p>Bài giảng rất dễ hiểu, mình thực hành được ngay tại lớp và cảm thấy rất hứng thú. Mình chưa từng nghĩ mình có thể đạt được những kỹ năng liên quan đến thiết kế dễ dàng như thế. Mình sẽ tiếp tục đồng hành thêm những khóa học khác của Bright Box</p></blockquote><a class="testimonial_readmore" href="#">Xem chi tiết</a></div></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row row bg_top_left vc_custom_1617944906249 vc_row-has-fill">
								<div class="vc_column_container col-md-12">
									<div class="wpb_wrapper vc_column-inner">
										<div class="porto-u-heading title_two" data-hspacer="line_only" data-halign="center" style="text-align:center"><div class="porto-u-main-heading"><h2>Hơn 500+ học viên đã được đào tạo bởi đội ngũ Giảng viên tại Bright Box</h2></div><div class="porto-u-heading-spacer line_only" style="height:2px;"><span class="porto-u-headings-line" style="border-style:solid;border-bottom-width:2px;border-color:#ccc;width:40px;"></span></div><div class="porto-u-sub-heading" style="">Các học viên đã đạt được mục tiêu như thế nào(*)</div></div><div class="vc_row wpb_row vc_inner row">
											<div class="vc_column_container col-md-4">
												<div class="wpb_wrapper vc_column-inner">
													<div class="circular-bar center "><div class="circular-bar-chart" data-percent="80" data-plugin-options="{&quot;trackColor&quot;:&quot;#eeeeee&quot;,&quot;barColor&quot;:&quot;#039be6&quot;,&quot;scaleColor&quot;:&quot;&quot;,&quot;lineCap&quot;:&quot;square&quot;,&quot;lineWidth&quot;:&quot;10&quot;,&quot;size&quot;:&quot;120&quot;,&quot;animate&quot;:{&quot;duration&quot;:&quot;2500&quot;},&quot;labelValue&quot;:&quot;&quot;}" style="height:120px"><label><span class="percent">0</span>%</label></div></div>
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<p style="text-align: center;">Học viên nói rằng sự nghiệp của họ phát triển tốt hơn hoặc họ tìm thấy những triển vọng nghề nghiệp mới</p>

														</div>
													</div>
												</div>
											</div><div class="vc_column_container col-md-4">
												<div class="wpb_wrapper vc_column-inner">
													<div class="circular-bar center "><div class="circular-bar-chart" data-percent="85" data-plugin-options="{&quot;trackColor&quot;:&quot;#eeeeee&quot;,&quot;barColor&quot;:&quot;#039be6&quot;,&quot;scaleColor&quot;:&quot;&quot;,&quot;lineCap&quot;:&quot;square&quot;,&quot;lineWidth&quot;:&quot;10&quot;,&quot;size&quot;:&quot;120&quot;,&quot;animate&quot;:{&quot;duration&quot;:&quot;2500&quot;},&quot;labelValue&quot;:&quot;&quot;}" style="height:120px"><label><span class="percent">0</span>%</label></div></div>
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<p style="text-align: center;">Học viên nói rằng họ đạt thành tích tốt hơn trong các kỳ thi hoặc bắt đầu tìm thấy động lực theo đuổi những môn học khác</p>

														</div>
													</div>
												</div>
											</div><div class="vc_column_container col-md-4">
												<div class="wpb_wrapper vc_column-inner">
													<div class="circular-bar center "><div class="circular-bar-chart" data-percent="82" data-plugin-options="{&quot;trackColor&quot;:&quot;#eeeeee&quot;,&quot;barColor&quot;:&quot;#039be6&quot;,&quot;scaleColor&quot;:&quot;&quot;,&quot;lineCap&quot;:&quot;square&quot;,&quot;lineWidth&quot;:&quot;10&quot;,&quot;size&quot;:&quot;120&quot;,&quot;animate&quot;:{&quot;duration&quot;:&quot;2500&quot;},&quot;labelValue&quot;:&quot;&quot;}" style="height:120px"><label><span class="percent">0</span>%</label></div></div>
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<p style="text-align: center;">Học viên nói rằng họ cảm thấy tự tin hơn và suy nghĩ tích cực hơn về tương lai sau khi hoàn thành khóa học tại Bright Box.</p>

														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper">
												<p style="text-align: center;"><em>“ Theo kết quả khảo sát Học viên Bright Box năm 2020 ”</em></p>

											</div>
										</div>
									</div>
								</div>
							</div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row row vc_custom_1619091207238">
								<div class="align-center vc_column_container col-md-12">
									<div class="wpb_wrapper vc_column-inner">
										<h2 style="text-align: center" class="vc_custom_heading title_one">Khóa học theo chủ đề</h2><div class="vc_btn3-container  btn_one vc_btn3-inline">
											<a class="vc_btn3 vc_btn3-shape-round btn btn-flat btn-md btn-secondary" href="https:/user/assets/danh-muc-khoa-hoc/thiet-ke-noi-that/" title=""># Thiết Kế Nội Thất</a>
										</div>
										<div class="vc_btn3-container  btn_one vc_btn3-inline">
											<a class="vc_btn3 vc_btn3-shape-round btn btn-flat btn-md btn-secondary" href="https:/user/assets/danh-muc-khoa-hoc/thiet-ke-do-hoa/" title=""># Thiết Kế Đồ Họa</a>
										</div>
										<div class="vc_btn3-container  btn_one vc_btn3-inline">
											<a class="vc_btn3 vc_btn3-shape-round btn btn-flat btn-md btn-secondary" href="https:/user/assets/danh-muc-khoa-hoc/ngoai-ngu/" title=""># Ngoại Ngữ</a>
										</div>
										<div class="vc_btn3-container  btn_one vc_btn3-inline">
											<a class="vc_btn3 vc_btn3-shape-round btn btn-flat btn-md btn-secondary" href="https:/user/assets/danh-muc-khoa-hoc/tin-hoc-van-phong/" title=""># Tin Học Văn Phòng</a>
										</div>
									</div>
								</div>
							</div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row row bg_bottom_right vc_custom_1617947597734 vc_row-has-fill">
								<div class="vc_column_container col-md-12">
									<div class="wpb_wrapper vc_column-inner">
										<h2 style="text-align: center" class="vc_custom_heading title_one">Những doanh nghiệp đã tín nhiệm Bright Box</h2><div id="porto-carousel-61763221469537f4e59a21" class="porto-carousel-wrapper  image_border" data-gutter="15" data-rtl="false">
											<div class="porto-ultimate-carousel porto-carousel-206083882969537f4e599c7 ">
												<div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="179" height="113" src="https:/user/assets/wp-content/uploads/2020/06/img-13.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
														</div>
													</div>
												</div><div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="179" height="113" src="https:/user/assets/wp-content/uploads/2020/06/img-14.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
														</div>
													</div>
												</div><div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="179" height="113" src="https:/user/assets/wp-content/uploads/2020/06/img-12.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
														</div>
													</div>
												</div><div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="179" height="113" src="https:/user/assets/wp-content/uploads/2020/06/img-11.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
														</div>
													</div>
												</div><div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="179" height="113" src="https:/user/assets/wp-content/uploads/2020/06/img-10.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
														</div>
													</div>
												</div><div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="179" height="113" src="https:/user/assets/wp-content/uploads/2020/06/img-15.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
														</div>
													</div>
												</div><div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="179" height="113" src="https:/user/assets/wp-content/uploads/2020/06/img-13.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div>
														</div>
													</div>
												</div>
											</div>
										</div><script>
												  jQuery(document).ready(function ($) {
													  if ($.fn.slick) {
														  $('.porto-carousel-206083882969537f4e599c7').slick({dots: false,autoplay: true,autoplaySpeed: 3000,speed: 300,infinite: true,arrows: true,nextArrow: '<button type="button" role="button" aria-label="Next" style="color:#ffffff; font-size:14px;background:rgba(0,0,0,0.7);" class="slick-next circle-bg"><i class="fas fa-chevron-right"></i></button>',prevArrow: '<button type="button" role="button" aria-label="Previous" style="color:#ffffff; font-size:14px;background:rgba(0,0,0,0.7);" class="slick-prev circle-bg"><i class="fas fa-chevron-left"></i></button>',slidesToScroll:1,slidesToShow:6,swipe: true,draggable: true,touchMove: true,pauseOnHover: true,responsive: [
															  {
																breakpoint: 1025,
																settings: {
																  slidesToShow: 6,
																  slidesToScroll: 1,
																}
															  },
															  {
																breakpoint: 769,
																settings: {
																  slidesToShow: 3,
																  slidesToScroll: 3
																}
															  },
															  {
																breakpoint: 481,
																settings: {
																  slidesToShow: 2,
																  slidesToScroll: 2
																}
															  }
														  ],pauseOnDotsHover: true,customPaging: function(slider, i) {
													 return '<i type="button" style="color:#333333;" class="far fa-circle" data-role="none"></i>';
												  },});
													  } else {
														  var c = document.createElement("script");
														  c.src = "https:/user/assets/wp-content/themes/mypage/js/libs/jquery.slick.min.js";
														  if (!$('script[src="' + c.src + '"]').length) {
															  document.getElementsByTagName("body")[0].appendChild(c);
														  }
														  c = document.createElement("script");
														  c.src = "https:/user/assets/wp-content/plugins/porto-functionality/shortcodes/assets/js/ultimate-carousel-loader.min.js";
														  if (!$('script[src="' + c.src + '"]').length) {
															  document.getElementsByTagName("body")[0].appendChild(c);
														  }
														  setTimeout(function() {
															  if ($.fn.slick) { $('.porto-carousel-206083882969537f4e599c7').slick({dots: false,autoplay: true,autoplaySpeed: 3000,speed: 300,infinite: true,arrows: true,nextArrow: '<button type="button" role="button" aria-label="Next" style="color:#ffffff; font-size:14px;background:rgba(0,0,0,0.7);" class="slick-next circle-bg"><i class="fas fa-chevron-right"></i></button>',prevArrow: '<button type="button" role="button" aria-label="Previous" style="color:#ffffff; font-size:14px;background:rgba(0,0,0,0.7);" class="slick-prev circle-bg"><i class="fas fa-chevron-left"></i></button>',slidesToScroll:1,slidesToShow:6,swipe: true,draggable: true,touchMove: true,pauseOnHover: true,responsive: [
															  {
																breakpoint: 1025,
																settings: {
																  slidesToShow: 6,
																  slidesToScroll: 1,
																}
															  },
															  {
																breakpoint: 769,
																settings: {
																  slidesToShow: 3,
																  slidesToScroll: 3
																}
															  },
															  {
																breakpoint: 481,
																settings: {
																  slidesToShow: 2,
																  slidesToScroll: 2
																}
															  }
														  ],pauseOnDotsHover: true,customPaging: function(slider, i) {
													 return '<i type="button" style="color:#333333;" class="far fa-circle" data-role="none"></i>';
												  },}); }
														  }, 300);
													  }
												  });
										</script>
										<div class="vc_empty_space" style="height: 30px"><span class="vc_empty_space_inner"></span></div><h2 style="text-align: center" class="vc_custom_heading title_one">Truyền thông nói về Bright Box</h2><div id="porto-carousel-21963103869537f4e81a77" class="porto-carousel-wrapper  image_border" data-gutter="15" data-rtl="false">
											<div class="porto-ultimate-carousel porto-carousel-104496968069537f4e81a37 ">
												<div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<a href="#" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="214" height="89" src="https:/user/assets/wp-content/uploads/2020/06/img-16.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div></a>
														</div>
													</div>
												</div><div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<a href="#" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="214" height="89" src="https:/user/assets/wp-content/uploads/2020/06/img-17.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div></a>
														</div>
													</div>
												</div><div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<a href="#" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="214" height="89" src="https:/user/assets/wp-content/uploads/2020/06/img-18.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div></a>
														</div>
													</div>
												</div><div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<a href="#" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="214" height="89" src="https:/user/assets/wp-content/uploads/2020/06/img-19.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div></a>
														</div>
													</div>
												</div><div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<a href="#" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="214" height="89" src="https:/user/assets/wp-content/uploads/2020/06/img-20.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div></a>
														</div>
													</div>
												</div><div class="porto-item-wrap">
													<div class="wpb_single_image wpb_content_element vc_align_center">
														<div class="wpb_wrapper">

															<a href="#" target="_self"><div class="vc_single_image-wrapper   vc_box_border_grey"><img width="214" height="89" src="https:/user/assets/wp-content/uploads/2020/06/img-16.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" /></div></a>
														</div>
													</div>
												</div>
											</div>
										</div><script>
												  jQuery(document).ready(function ($) {
													  if ($.fn.slick) {
														  $('.porto-carousel-104496968069537f4e81a37').slick({dots: false,autoplay: true,autoplaySpeed: 3000,speed: 300,infinite: true,arrows: true,nextArrow: '<button type="button" role="button" aria-label="Next" style="color:#ffffff; font-size:14px;background:rgba(0,0,0,0.7);" class="slick-next circle-bg"><i class="fas fa-chevron-right"></i></button>',prevArrow: '<button type="button" role="button" aria-label="Previous" style="color:#ffffff; font-size:14px;background:rgba(0,0,0,0.7);" class="slick-prev circle-bg"><i class="fas fa-chevron-left"></i></button>',slidesToScroll:1,slidesToShow:5,swipe: true,draggable: true,touchMove: true,pauseOnHover: true,responsive: [
															  {
																breakpoint: 1025,
																settings: {
																  slidesToShow: 5,
																  slidesToScroll: 1,
																}
															  },
															  {
																breakpoint: 769,
																settings: {
																  slidesToShow: 3,
																  slidesToScroll: 3
																}
															  },
															  {
																breakpoint: 481,
																settings: {
																  slidesToShow: 2,
																  slidesToScroll: 2
																}
															  }
														  ],pauseOnDotsHover: true,customPaging: function(slider, i) {
													 return '<i type="button" style="color:#333333;" class="far fa-circle" data-role="none"></i>';
												  },});
													  } else {
														  var c = document.createElement("script");
														  c.src = "https:/user/assets/wp-content/themes/mypage/js/libs/jquery.slick.min.js";
														  if (!$('script[src="' + c.src + '"]').length) {
															  document.getElementsByTagName("body")[0].appendChild(c);
														  }
														  c = document.createElement("script");
														  c.src = "https:/user/assets/wp-content/plugins/porto-functionality/shortcodes/assets/js/ultimate-carousel-loader.min.js";
														  if (!$('script[src="' + c.src + '"]').length) {
															  document.getElementsByTagName("body")[0].appendChild(c);
														  }
														  setTimeout(function() {
															  if ($.fn.slick) { $('.porto-carousel-104496968069537f4e81a37').slick({dots: false,autoplay: true,autoplaySpeed: 3000,speed: 300,infinite: true,arrows: true,nextArrow: '<button type="button" role="button" aria-label="Next" style="color:#ffffff; font-size:14px;background:rgba(0,0,0,0.7);" class="slick-next circle-bg"><i class="fas fa-chevron-right"></i></button>',prevArrow: '<button type="button" role="button" aria-label="Previous" style="color:#ffffff; font-size:14px;background:rgba(0,0,0,0.7);" class="slick-prev circle-bg"><i class="fas fa-chevron-left"></i></button>',slidesToScroll:1,slidesToShow:5,swipe: true,draggable: true,touchMove: true,pauseOnHover: true,responsive: [
															  {
																breakpoint: 1025,
																settings: {
																  slidesToShow: 5,
																  slidesToScroll: 1,
																}
															  },
															  {
																breakpoint: 769,
																settings: {
																  slidesToShow: 3,
																  slidesToScroll: 3
																}
															  },
															  {
																breakpoint: 481,
																settings: {
																  slidesToShow: 2,
																  slidesToScroll: 2
																}
															  }
														  ],pauseOnDotsHover: true,customPaging: function(slider, i) {
													 return '<i type="button" style="color:#333333;" class="far fa-circle" data-role="none"></i>';
												  },}); }
														  }, 300);
													  }
												  });
										</script>
									</div>
								</div>
							</div><div class="vc_row-full-width vc_clearfix"></div>
						</div>
					</article>

				</div>



			</div><!-- end main content -->



		</div>
	</div>

	<div class="porto-html-block porto-block-html-content-bottom"></div>


</div>