@{
	ViewData["Title"] = "Trang chủ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <div class="sub-header">
    <div class="container">
        <div class="name">Tin tức</div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html"><i class="fal fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="tin-tuc.html">Tin tức</a></li>
        </ul>
    </div>
</div> *@
<div class="banner-slide owl-carousel">
    <div class="item">
        <a href="https://ketoanthuegc.com/gioi-thieu/">
            <picture>
                <source srcset="user/assets/images/banners/2023/12/04/133461575385476361.jpg" media="(max-width:500px)">
                <img src="user/assets/images/banners/2023/12/04/133461575385476361.jpg"
                     class="img-fluid"
                     alt="Slide 1">
            </picture>
        </a>
    </div>

    <div class="item">
        <a href="#">
            <picture>
                <source srcset="/user/assets/images/articles/2025/09/05/134015177078019748.jpg" media="(max-width:500px)">
                <img src="/user/assets/images/articles/2025/09/05/134015177078019748.jpg"
                     class="img-fluid"
                     alt="Slide 2">
            </picture>
        </a>
    </div>
</div>

@* giới thiệu *@
<div class="bg-light py-lg-5 py-4">
    <div class="container">

        <div class="section-name">
            CHÚNG TÔI LÀ AI?
        </div>

        <div class="row align-items-lg-center">

            <!-- Cột ảnh -->
            <div class="col-lg-6 col-sm-6 order-1 order-lg-0 mt-3 mt-sm-0">
                <img src="/images/articles/2022/07/12/13302893119602258.jpg?w=540"
                     width="540"
                     class="img-fluid about-img"
                     alt="Kế toán QC">
            </div>

            <!-- Cột nội dung -->
            <div class="col-lg-6 col-sm-6 order-0 order-lg-1">
                <div class="body-content">

                    <p style="text-align: justify;">
                        Kế Toán Thuế&nbsp;QC cung cấp dịch vụ kê khai thuế, báo cáo thuế,
                        kế toán thuế trọn gói cho doanh nghiệp, hộ kinh doanh.
                        Kế toán thuế&nbsp;QC là công ty hoạt động chuyên nghiệp trong lĩnh vực
                        kinh doanh dịch vụ làm thủ tục về kê khai báo cáo thuế và tư vấn thuế.
                        Chúng tôi được thành lập trên cơ sở đáp ứng đầy đủ điều kiện hành nghề
                        của một Đại lý thuế theo quy định của Pháp luật.
                    </p>

                    <h1 style="text-align: justify;">
                        Công ty TNHH tư vấn kế toán thuế&nbsp;QC
                    </h1>

                    <p style="text-align: justify;">
                        Sở hữu đội ngũ nhân sự với nhiều năm kinh nghiệm trong lĩnh vực tư vấn
                        và làm thủ tục về kê khai thuế, chúng tôi mong muốn đem năng lực nghiệp vụ,
                        sự tận tâm và nhiệt huyết của mình đến với các doanh nghiệp, đồng hành
                        cùng doanh nghiệp tháo gỡ khó khăn để cùng phát triển bền vững.
                    </p>

                </div>

                <a href="/gioi-thieu" class="view-more-link">Xem thêm</a>
            </div>

        </div>
    </div>
</div>
@* end giới thiệu *@

@* dịch vụ *@
<div class="container py-lg-5 py-4">

    <div class="section-name">
        DỊCH VỤ CỦA CHÚNG TÔI
    </div>

    <div class="row justify-content-center">

        <!-- Item 1 -->
        <div class="col-lg-4 col-sm-6">
            <div class="card card-service-item">
                <div class="card-img">
                    <a href="/dich-vu-ke-toan-thue-tron-goi.html">
                        <img class="img-fluid ls-is-cached lazyloaded" alt="" src="/user/assets/images/upload/images/dich-vu-ke-toan/ke-toan-thue-tron-goi.jpg">
                    </a>
                </div>
                <div class="card-body">
                    <h2>
                        <a href="/dich-vu-ke-toan-thue-tron-goi.html">
                            Dịch vụ kế toán thuế trọn gói
                        </a>
                    </h2>
                </div>
            </div>
        </div>

    </div>
</div>

@* end dịch vụ *@

<div class="counter-box lazyloaded"
     data-bg="/user/assets/content/images/bh5.jpg"
     style="background-image: url('/user/assets/content/images/bh5.jpg');">

    <div class="container">

        <div class="box-heading">
            <h2>
                Chúng tôi luôn đi đầu và đưa ra<br>
                các giải pháp tối ưu nhất cho doanh nghiệp của bạn.
            </h2>
        </div>

        <div class="row pt-lg-5 pt-4">

            <!-- Item 1 -->
            <div class="col-lg-3 col-6 count-item">
                <i class="fal fa-smile-beam"></i>
                <div class="count">2000+</div>
                <div>Khách hàng hài lòng</div>
            </div>

            <!-- Item 2 -->
            <div class="col-lg-3 col-6 count-item">
                <i class="fal fa-file-prescription"></i>
                <div class="count">1000+</div>
                <div>Công ty đang hợp tác</div>
            </div>

            <!-- Item 3 -->
            <div class="col-lg-3 col-6 count-item">
                <i class="fal fa-users"></i>
                <div class="count">120+</div>
                <div>Chuyên viên kế toán</div>
            </div>

            <!-- Item 4 -->
            <div class="col-lg-3 col-6 count-item">
                <i class="fal fa-chart-line"></i>
                <div class="count">10+</div>
                <div>Năm hoạt động</div>
            </div>

        </div>
    </div>
</div>

@* tin tức *@
<section class="container py-lg-5 py-4">
    <div class="section-name">TIN MỚI NHẤT</div>

    <div class="box-news owl-carousel owl-theme">
        <div class="card card-news-item">
            <div class="card-img-top">
                <a href="/blog/ke-toan-thue-qc-chao-mung-ky-niem-80-nam-quoc-khanh.html">
                    <img src="user/assets/images/banners/2023/12/04/133461575385476361.jpg" class="img-fluid">
                </a>
            </div>

            <div class="card-body">
                <div class="date-post">02/09/2023</div>

                <h3 class="height-truncate" data-line="3">
                    <a href="/blog/ke-toan-thue-qc-chao-mung-ky-niem-80-nam-quoc-khanh.html">
                        Kế Toán Thuế QC – Chào mừng kỷ niệm 80 năm Quốc khánh
                    </a>
                </h3>

                <p class="height-truncate" data-line="5">
                    Hòa chung không khí tự hào dân tộc, công ty TNHH Tư Vấn Kế Toán Thuế QC...
                </p>

                <a href="/blog/ke-toan-thue-qc-chao-mung-ky-niem-80-nam-quoc-khanh.html"
                   class="view-more-link">Xem thêm</a>
            </div>
        </div>

        <!-- copy thêm item -->
    </div>
</section>

@* end tin tức *@

<div class="form-footer">
    <button type="button"
            data-fancybox=""
            data-src="#subscribe"
            data-type="inline"
            class="btn btn-lg px-4">
        ĐĂNG KÝ TƯ VẤN
    </button>
</div>


@section Scripts
{
    <script>
        $(document).ready(function () {

            var $slider = $('.banner-slide');

            // nếu đã init → destroy trước
            if ($slider.hasClass('owl-loaded')) {
                $slider.trigger('destroy.owl.carousel');
                $slider.removeClass('owl-loaded');
                $slider.find('.owl-stage-outer').children().unwrap();
            }

            // init lại
            $slider.owlCarousel({
                items: 1,
                loop: true,
                autoplay: true,
                autoplayTimeout: 5000,
                nav: false,
                dots: true,
                smartSpeed: 600
            });

            var $news = $('.box-news');
            var itemCount = $news.children('.card-news-item').length;

            $news.owlCarousel({
                items: 3,
                loop: itemCount > 3, // 👈 chỉ loop khi đủ item
                margin: 20,
                nav: false,
                dots: true,
                autoplay: itemCount > 3,
                responsive: {
                    0: { items: 1 },
                    768: { items: 2 },
                    1200: { items: 3 }
                }
            });
        });
    </script>

}