@{
	ViewData["Title"] = "Đăng nhập";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="porto-html-block porto-block-html-banner"></div>
<div id="main" class="column1 boxed no-breadcrumbs">
	<!-- main -->

	<div class="container">
		<div class="row main-content-wrap">

			<!-- main content -->
			<div class="main-content col-lg-12">


				<div id="content" role="main">

					<article class="post-549 page type-page status-publish hentry">

						<span class="entry-title" style="display: none;">Đăng nhập</span><span class="vcard" style="display: none;"><span class="fn"><a href="https://tech1.mypagedemo.com/brightbox/author/mypage/" title="Đăng bởi DEV" rel="author">DEV</a></span></span><span class="updated" style="display:none">2021-05-05T12:27:13+07:00</span>
						<div class="page-content">
							<div class="vc_row wpb_row row">
								<div class="vc_column_container col-md-12">
									<div class="wpb_wrapper vc_column-inner">
										<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div><h1 style="text-align: center" class="vc_custom_heading title_one">Đăng nhập</h1>
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper">

												<div class="um um-login um-545">

													<div class="um-form">

														<form method="post" action="" autocomplete="off">

															<div class="um-row _um_row_1 " style="margin: 0 0 30px 0;">
																<div class="um-col-1">
																	<div id="um_field_545_user_email" class="um-field um-field-text  um-field-user_email um-field-text um-field-type_text" data-key="user_email">
																		<div class="um-field-area">
																			<input autocomplete="off" class="um-form-field valid " type="text" name="user_email-545" id="user_email-545" value="" placeholder="E-mail" data-validate="unique_email" data-key="user_email" />

																		</div>
																	</div><div id="um_field_545_user_password" class="um-field um-field-password  um-field-user_password um-field-password um-field-type_password" data-key="user_password">
																		<div class="um-field-area">
																			<input class="um-form-field valid " type="password" name="user_password-545" id="user_password-545" value="" placeholder="Mật khẩu" data-validate="" data-key="user_password" />

																		</div>
																	</div>
																</div>
															</div>		<input type="hidden" name="form_id" id="form_id_545" value="545" />

															<p class="um_request_name">
																<label for="um_request_545">Only fill in if you are not human</label>
																<input type="hidden" name="um_request" id="um_request_545" class="input" value="" size="25" autocomplete="off" />
															</p>

															<input type="hidden" id="_wpnonce" name="_wpnonce" value="7aeae4ce43" /><input type="hidden" name="_wp_http_referer" value="/brightbox/dang-nhap/" />
															<div class="um-col-alt">



																<div class="um-field um-field-c">
																	<div class="um-field-area">
																		<label class="um-field-checkbox ">
																			<input type="checkbox" name="rememberme" value="1" />
																			<span class="um-field-checkbox-state"><i class="um-icon-android-checkbox-outline-blank"></i></span>
																			<span class="um-field-checkbox-option"> Giữ luôn đăng nhập</span>
																		</label>
																	</div>
																</div>

																<div class="um-clear"></div>

																<div class="um-left um-half">
																	<input type="submit" value="Đăng nhập" class="um-button" id="um-submit-btn" />
																</div>
																<div class="um-right um-half">
																	<a href="/dang-ky" class="um-button um-alt">
																		Tạo tài khoản
																	</a>
																</div>


																<div class="um-clear"></div>

															</div>


															<div class="um-col-alt-b">
																<a href="/dat-lai-mat-khau" class="um-link-alt">
																	Bạn quên mật khẩu?
																</a>
															</div>


														</form>

													</div>

												</div><style type="text/css">
														  .um-545.um {
															  max-width: 450px;
														  }</style>


											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>

				</div>



			</div><!-- end main content -->



		</div>
	</div>

	<div class="porto-html-block porto-block-html-content-bottom"></div>


</div><!-- end main -->