<footer class="lazyload" data-bg="/user/assets/content/images/footer-bg.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="name">C&ocirc;ng ty TNHH tư vấn kế to&aacute;n thuế&nbsp;QC</h3>

                <address>
                    <span class="fal fa-fw fa-map-marker-alt"></span>&Ocirc; số 5A, Tầng 1, T&ograve;a nh&agrave; Sunrise Building IIIB, khu đ&ocirc; thị S&agrave;i Đồng, P. Ph&uacute;c Lợi&nbsp;, H&agrave; Nội.<br />
                    <span class="fal fa-fw fa-phone-alt"></span> 0903&nbsp;288&nbsp;633&nbsp;/ 0976 428 786<br />
                    <span class="fal fa-fw fa-envelope"></span> ketoanthueqc@gmail.com<br />
                    <span class="fal fa-fw fa-globe"></span> <a href="/user/assets/index.html">www.ketoanthueqc.com</a><br />
                    <span class="fal fa-fw fa-globe"></span> <a href="https://www.facebook.com/ketoanthueqc">facebook.com/ketoanthueqc</a><br />
                    <span class="fal fa-fw fa-globe"></span>&nbsp;<a href="https://www.facebook.com/groups/tuvanketoanthuequantrinoibo">groups/tuvanketoanthuequantrinoibo</a>
                </address>

                <div class="socials">
                    <a href="https://www.facebook.com/ketoanthueqc/" rel="nofollow" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.youtube.com/channel/UCyEAEnxd-M_UqDmkZtZfSQg" rel="nofollow" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://twitter.com/ketoanthueqc" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a rel="nofollow" target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-3 mt-lg-0">
                <div class="name font-weight-normal text-right">Dịch vụ kế to&#225;n</div>
                <ul>
                    <li><a href="/user/assets/dich-vu-ke-toan-thue-tron-goi.html"><i class="fal fa-angle-right"></i> Dịch vụ kế to&#225;n thuế trọn g&#243;i</a></li>
                    <li><a href="/user/assets/kiem-tra-don-dep-lai-so-sach-ke-toan.html"><i class="fal fa-angle-right"></i> Kiểm tra, dọn dẹp lại sổ s&#225;ch kế to&#225;n</a></li>
                    <li><a href="/user/assets/dich-vu-quyet-toan-thue.html"><i class="fal fa-angle-right"></i> Dịch vụ quyết to&#225;n thuế</a></li>
                    <li><a href="/user/assets/tu-van-quan-ly-tai-chinh-ke-toan-doanh-nghiep.html"><i class="fal fa-angle-right"></i> Tư vấn quản l&#253; t&#224;i ch&#237;nh, kế to&#225;n Doanh nghiệp</a></li>
                    <li><a href="/user/assets/thanh-lap-doanh-nghiep.html"><i class="fal fa-angle-right"></i> Th&#224;nh lập doanh nghiệp</a></li>
                    <li><a href="/user/assets/thay-doi-dang-ky-kinh-doanh.html"><i class="fal fa-angle-right"></i> Thay đổi đăng k&#253; kinh doanh</a></li>
                    <li><a href="/user/assets/dich-vu-hoan-thien-bao-cao-tai-chinh.html"><i class="fal fa-angle-right"></i> Dịch vụ ho&#224;n thiện b&#225;o c&#225;o t&#224;i ch&#237;nh</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 mt-3 mt-lg-0">
                <div class="name font-weight-normal text-right">Đ&#224;o tạo kế to&#225;n</div>
                <ul>
                    <li><a href="/user/assets/khoa-hoc-ke-toan-tong-hop.html"><i class="fal fa-angle-right"></i> Kh&#243;a học kế to&#225;n tổng hợp</a></li>
                    <li><a href="/user/assets/khoa-hoc-ke-toan-thue-ngan-han.html"><i class="fal fa-angle-right"></i> Kh&#243;a học kế to&#225;n thuế ngắn hạn</a></li>
                    <li><a href="/user/assets/khoa-hoc-phan-mem-ke-toan-fast-misa.html"><i class="fal fa-angle-right"></i> Kh&#243;a học phần mềm kế to&#225;n Fast - Misa</a></li>
                    <li><a href="/user/assets/khoa-hoc-ke-toan-danh-cho-giam-doc.html"><i class="fal fa-angle-right"></i> Kh&#243;a học kế to&#225;n d&#224;nh cho Gi&#225;m Đốc</a></li>
                    <li><a href="/user/assets/khoa-hoc-ke-toan-cho-nguoi-moi-bat-dau.html"><i class="fal fa-angle-right"></i> Kh&#243;a học kế to&#225;n cho người mới bắt đầu</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>