@{
	ViewData["Title"] = "Nội dung";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sub-header">
    <div class="container">
        <div class="name">Đ&#224;o tạo kế to&#225;n</div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"><i class="fal fa-home"></i></a>
            </li>
            <li class="breadcrumb-item active">Đ&#224;o tạo kế to&#225;n</li>
        </ul>
    </div>
</div>
<div class="container wrapper-content">
    <div class="row">
        @await Component.InvokeAsync("Sidemenu")
        <div class="col-lg-9 order-0 order-lg-1">
            <h1 class="post-title">Đ&#224;o tạo kế to&#225;n</h1>
            <div class="body-content">
                <p style="text-align: center">
                    <img alt=""
                         src="/images/upload/images/dao-tao-web-800x418.png"
                         style="width: 800px; height: 418px" />
                </p>
                <ul>
                    <li style="text-align: justify">
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                Bạn đi l&agrave;m 1, 2 năm&nbsp;nhưng nhận thấy kiến thức
                                chuy&ecirc;n m&ocirc;n, kỹ năng c&ograve;n hạn chế
                            </span>
                        </span>?
                    </li>
                    <li style="text-align: justify">
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                Bạn mới tham khảo v&agrave; đang muốn t&igrave;m một trung
                                t&acirc;m đ&agrave;o tạo kế to&aacute;n uy t&iacute;n?
                            </span>
                        </span>
                    </li>
                    <li style="text-align: justify">
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                Bạn đang cần học để c&oacute; chứng chỉ kế to&aacute;n xin
                                việc l&agrave;m?
                            </span>
                        </span>
                    </li>
                    <li style="text-align: justify">
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                Bạn mới tốt nghiệp ng&agrave;nh kế to&aacute;n nhưng khi
                                xin việc gặp nhiều kh&oacute; khăn do chưa c&oacute; kinh
                                nghiệm thực tế?
                            </span>
                        </span>
                    </li>
                    <li style="text-align: justify">
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <span style="font-size: 16px">
                                    <span style="font-family: Arial, Helvetica, sans-serif">
                                        Bạn mong muốn trở th&agrave;nh kế to&aacute;n giỏi,
                                        c&oacute; mức thu nhập cao hơn c&ocirc;ng việc kế
                                        to&aacute;n&nbsp;hiện tại, nhiều cơ hội thăng
                                        tiến?
                                    </span>
                                </span>
                            </span>
                        </span>
                    </li>
                    <li style="text-align: justify">
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                Bạn l&agrave; chủ doanh nghiệp vừa th&agrave;nh lập
                                v&agrave; muốn tự m&igrave;nh l&agrave;m c&ocirc;ng việc của
                                kế to&aacute;n?
                            </span>
                        </span>
                    </li>
                </ul>
                <div class="youtube-embed-wrapper"
                     style="
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 30px;
                height: 0;
                overflow: hidden;
                text-align: center;
              ">
                    <iframe allowfullscreen="allowfullscreen"
                            frameborder="0"
                            height="360"
                            src="https://www.youtube.com/embed/c4VArXnxgxU"
                            style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                "
                            width="640"></iframe>
                </div>
                <p style="text-align: center">
                    <em>Video: Đội ngũ nh&acirc;n sự kế to&aacute;n thuế QC</em>
                </p>
                <p style="text-align: center">
                    <img alt="ke-toan-thue-qc"
                         src="/images/upload/images/Chuyen-vien-ke-toan.png"
                         style="width: 900px; height: 754px" />
                </p>
                <p style="text-align: justify">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <span style="font-size: 16px">
                                <span style="font-family: Arial, Helvetica, sans-serif">
                                    ► Kế to&aacute;n thuế QC&nbsp;ch&iacute;nh thức&nbsp;đưa
                                    v&agrave;o chương tr&igrave;nh đ&agrave;o tạo kế
                                    to&aacute;n cho&nbsp;h&agrave;ng ng&agrave;n học
                                    vi&ecirc;n đ&atilde; tốt nghiệp.
                                </span>
                            </span>
                        </span>
                    </span>
                </p>
                <p style="text-align: justify">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            Lớp học cầm tay chỉ việc được giảng dạy bởi Giảng vi&ecirc;n
                            kế to&aacute;n trưởng tr&ecirc;n 15 năm kinh nghiệm.
                            T&agrave;i liệu học độc quyền gi&uacute;p học vi&ecirc;n
                            l&agrave;m quen với c&aacute;c chứng từ kế to&aacute;n mới
                            nhất.&nbsp;
                        </span>
                    </span>
                </p>
                <p style="text-align: center">
                    <img alt="khoa-hoc-ke-toan"
                         src="/images/upload/images/C%C3%A1c%20d%E1%BB%8Bc%20v%E1%BB%A5%20K%E1%BA%BF%20To%C3%A1n%20Thu%E1%BA%BF%20QC/BAI%208_2.png"
                         style="width: 900px; height: 900px" />
                </p>
                <h2>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            T&Igrave;M HIỂU KH&Oacute;A HỌC CỦA KẾ TO&Aacute;N THUẾ
                            QC
                        </span>
                    </span>
                </h2>
                <ul>
                    <li>
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <a href="http://ketoanthueqc.com/khoa-hoc-ke-toan-tong-hop.html">Kh&oacute;a học kế to&aacute;n tổng hợp</a>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <a href="http://ketoanthueqc.com/khoa-hoc-ke-toan-thue-ngan-han.html">Kh&oacute;a học kế to&aacute;n thuế ngắn hạn</a>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <a href="http://ketoanthueqc.com/khoa-hoc-phan-mem-ke-toan-fast-misa.html">Kh&oacute;a học phần mềm kế to&aacute;n Fast, Misa</a>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <a href="http://ketoanthueqc.com/khoa-hoc-ke-toan-danh-cho-giam-doc.html">
                                    Kh&oacute;a học kế to&aacute;n d&agrave;nh cho
                                    Gi&aacute;m Đốc
                                </a>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <a href="http://ketoanthueqc.com/khoa-hoc-ke-toan-cho-nguoi-moi-bat-dau.html">
                                    Kh&oacute;a học kế to&aacute;n d&agrave;nh cho người mới
                                    bắt đầu
                                </a>
                            </span>
                        </span>
                    </li>
                </ul>
                <h3>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">DỊCH VỤ KẾ TO&Aacute;N THUẾ QC CUNG CẤP</span>
                    </span>
                </h3>
                <ul>
                    <li>
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <a href="http://ketoanthueqc.com/dich-vu-ke-toan-thue-tron-goi.html">Dịch vụ kế to&aacute;n thuế trọn g&oacute;i</a>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <a href="http://ketoanthueqc.com/kiem-tra-don-dep-lai-so-sach-ke-toan.html">Kiểm tra, dọn dẹp lại sổ s&aacute;ch kế to&aacute;n</a>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <a href="http://ketoanthueqc.com/dich-vu-quyet-toan-thue.html">Dịch vụ quyết to&aacute;n thuế</a>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <a href="http://ketoanthueqc.com/thanh-lap-doanh-nghiep.html">Th&agrave;nh lập doanh nghiệp</a>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <a href="http://ketoanthueqc.com/thay-doi-dang-ky-kinh-doanh.html">Thay đổi đăng k&yacute; kinh doanh</a>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span style="font-size: 16px">
                            <span style="font-family: Arial, Helvetica, sans-serif">
                                <a href="http://ketoanthueqc.com/tu-van-quan-ly-tai-chinh-ke-toan-doanh-nghiep.html">
                                    Tư vấn quản l&yacute; t&agrave;i ch&iacute;nh, kế
                                    to&aacute;n Doanh nghiệp
                                </a>
                            </span>
                        </span>
                    </li>
                </ul>
                <p style="text-align: center">
                    <img alt="sloagn kế toán thuế qc"
                         src="/images/upload/images/C%C3%A1c%20d%E1%BB%8Bc%20v%E1%BB%A5%20K%E1%BA%BF%20To%C3%A1n%20Thu%E1%BA%BF%20QC/dich-vu-ke-toan-thue-tron-goi.png"
                         style="width: 900px; height: 900px" />
                </p>
                <p style="text-align: justify">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            Đặc biệt doanh nghiệp bạn vướng mắc về kế to&aacute;n, thuế
                            c&oacute; thể li&ecirc;n hệ với&nbsp;<a href="https://ketoanthueqc.com/lien-he"
                                                                    target="_blank">Kế To&aacute;n Thuế QC</a>&nbsp;để được&nbsp;<strong>tư vấn Ho&agrave;n To&agrave;n Miễn Ph&iacute;</strong>&nbsp;bạn nh&eacute;!
                        </span>
                    </span>
                </p>
                <h3>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif"></span>
                    </span>
                </h3>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif"></span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">===========================</span>
                    </span>
                </p>
                <h2>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif"></span>
                    </span>
                </h2>
                <p dir="ltr">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <b id="docs-internal-guid-634d0fd7-7fff-28c5-e641-bd18ba4b7984">C&Ocirc;NG TY TNHH TƯ VẤN KẾ TO&Aacute;N THUẾ QC</b>
                        </span>
                    </span>
                </p>
                <p dir="ltr">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <b id="docs-internal-guid-634d0fd7-7fff-28c5-e641-bd18ba4b7984">
                                <img alt="🏩"
                                     height="16"
                                     src="https://lh3.googleusercontent.com/_Bw5IOBa7k_FvUItS9iEEz_Fve8W58KzxUVjJs1vExR8oQs-wUgOnpJP-V2T_BGedTim3bQediw1jIOhnFZQN40kmfPrRg4GKcJDlrV6Wymkp5Qm1uKBRVR0yGS8lFokCxZ6Y_zWr5a7I-ADrAFI4jU"
                                     width="16" />&nbsp;
                            </b>Địa chỉ trụ sở ch&iacute;nh: Số 55, ng&otilde; 207/103, phố
                            Nhang, P. Xu&acirc;n Đỉnh, H&agrave; Nội.
                        </span>
                    </span>
                </p>
                <p dir="ltr">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <b id="docs-internal-guid-634d0fd7-7fff-28c5-e641-bd18ba4b7984">
                                <img alt="🏪"
                                     height="16"
                                     src="https://lh6.googleusercontent.com/3ITWWS-qBZjcAcblJdxKwE1hFzLmzIQ0A68N0ZgCmiMEuqtxpBTgqrFcBLmddaKPibWpjTRWIBxrGPlPBEsVFzGfPPje0dJyXEEq0IkASGfWZo23-DOabQ76uWHhco8z9w0B1Pn9UQV6-_g2w7xaJWg"
                                     width="16" />&nbsp;
                            </b>Văn ph&ograve;ng Ph&uacute;c Lợi: &Ocirc; số 5A, Tầng 1,
                            T&ograve;a nh&agrave; Sunrise Building IIIB, KĐT S&agrave;i
                            Đồng, P. Ph&uacute;c Lợi, H&agrave; Nội.
                        </span>
                    </span>
                </p>
                <p dir="ltr">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <b id="docs-internal-guid-634d0fd7-7fff-28c5-e641-bd18ba4b7984">
                                <img alt="🏪"
                                     height="16"
                                     src="https://lh6.googleusercontent.com/3ITWWS-qBZjcAcblJdxKwE1hFzLmzIQ0A68N0ZgCmiMEuqtxpBTgqrFcBLmddaKPibWpjTRWIBxrGPlPBEsVFzGfPPje0dJyXEEq0IkASGfWZo23-DOabQ76uWHhco8z9w0B1Pn9UQV6-_g2w7xaJWg"
                                     width="16" />&nbsp;
                            </b>Văn ph&ograve;ng Mai Động: S&ocirc;́ 108, ng&otilde; 92 phố
                            Mai Động, P. Mai Động, H&agrave; Nội.
                        </span>
                    </span>
                </p>
                <p dir="ltr">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <b id="docs-internal-guid-634d0fd7-7fff-28c5-e641-bd18ba4b7984">
                                <img alt="🏪"
                                     height="16"
                                     src="https://lh6.googleusercontent.com/3ITWWS-qBZjcAcblJdxKwE1hFzLmzIQ0A68N0ZgCmiMEuqtxpBTgqrFcBLmddaKPibWpjTRWIBxrGPlPBEsVFzGfPPje0dJyXEEq0IkASGfWZo23-DOabQ76uWHhco8z9w0B1Pn9UQV6-_g2w7xaJWg"
                                     width="16" />&nbsp;
                            </b>Văn ph&ograve;ng Ho&agrave;ng Liệt: Số 30 ng&otilde; 50 đường
                            Nguyễn Hữu Thọ, P. Ho&agrave;ng Liệt, H&agrave; Nội.
                        </span>
                    </span>
                </p>
                <p dir="ltr">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <b id="docs-internal-guid-634d0fd7-7fff-28c5-e641-bd18ba4b7984">
                                <img alt="🏪"
                                     height="16"
                                     src="https://lh6.googleusercontent.com/3ITWWS-qBZjcAcblJdxKwE1hFzLmzIQ0A68N0ZgCmiMEuqtxpBTgqrFcBLmddaKPibWpjTRWIBxrGPlPBEsVFzGfPPje0dJyXEEq0IkASGfWZo23-DOabQ76uWHhco8z9w0B1Pn9UQV6-_g2w7xaJWg"
                                     width="16" />&nbsp;
                            </b>Văn Ph&ograve;ng Thuận An: Số 51, Biệt thự Hoa Vi&ecirc;n,
                            KĐT Đặng X&aacute;, X&atilde; Thuận An, H&agrave; Nội.
                        </span>
                    </span>
                </p>
                <p dir="ltr">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <b id="docs-internal-guid-634d0fd7-7fff-28c5-e641-bd18ba4b7984">
                                <img alt="🏪"
                                     height="16"
                                     src="https://lh6.googleusercontent.com/3ITWWS-qBZjcAcblJdxKwE1hFzLmzIQ0A68N0ZgCmiMEuqtxpBTgqrFcBLmddaKPibWpjTRWIBxrGPlPBEsVFzGfPPje0dJyXEEq0IkASGfWZo23-DOabQ76uWHhco8z9w0B1Pn9UQV6-_g2w7xaJWg"
                                     width="16" />&nbsp;
                            </b>Văn Ph&ograve;ng Bạch Mai: Tầng 2, T&ograve;a HH1 Meco
                            Complex, Ng&otilde; 102 Trường Chinh, P. Bạch Mai, H&agrave;
                            Nội
                        </span>
                    </span>
                </p>
                <p dir="ltr">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <b id="docs-internal-guid-634d0fd7-7fff-28c5-e641-bd18ba4b7984">
                                <img alt="🏪"
                                     height="16"
                                     src="https://lh6.googleusercontent.com/3ITWWS-qBZjcAcblJdxKwE1hFzLmzIQ0A68N0ZgCmiMEuqtxpBTgqrFcBLmddaKPibWpjTRWIBxrGPlPBEsVFzGfPPje0dJyXEEq0IkASGfWZo23-DOabQ76uWHhco8z9w0B1Pn9UQV6-_g2w7xaJWg"
                                     width="16" />&nbsp;
                            </b>Văn Ph&ograve;ng Đ&agrave; Nẵng: K80/6/6 đường T&ocirc;n Đức
                            Thắng - Phường H&ograve;a Kh&aacute;nh - TP.Đ&agrave;
                            Nẵng
                        </span>
                    </span>
                </p>
                <p dir="ltr">
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <b id="docs-internal-guid-634d0fd7-7fff-28c5-e641-bd18ba4b7984">
                                <img alt="☎️"
                                     height="16"
                                     src="https://lh3.googleusercontent.com/VqzNOJjIqKoerE52dziIsQSu4MoIkVHcNQUlc36fa6MQpEtT2FZYXfZeoRh8KZlzyqMozwxB5NIkQSjmDMr0Khzbwa28R-QC9qB75feDOHjx1mY9A05j3lXIh7n1a8tgQNM_enDZBbC789CROHgTDgo"
                                     width="16" />
                                Hotline
                            </b>Tư vấn 24/7:<b> 0976 428 786 </b>(Mrs.Phương)
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif"></span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <img alt="📬"
                                 height="16"
                                 referrerpolicy="origin-when-cross-origin"
                                 src="https://static.xx.fbcdn.net/images/emoji.php/v9/tea/1/16/1f4ec.png"
                                 width="16" />
                            Email: ketoanthueqc@gmail.com
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <img alt="🌎"
                                 height="16"
                                 referrerpolicy="origin-when-cross-origin"
                                 src="https://static.xx.fbcdn.net/images/emoji.php/v9/tc0/1/16/1f30e.png"
                                 width="16" />&nbsp;Website:&nbsp;<a href="https://ketoanthueqc.com/">https://ketoanthueqc.com/</a>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <img alt="👉"
                                 height="16"
                                 referrerpolicy="origin-when-cross-origin"
                                 src="https://static.xx.fbcdn.net/images/emoji.php/v9/t51/1/16/1f449.png"
                                 width="16" />&nbsp;Fanpage:
                            <a href="https://www.facebook.com/ketoanthueqc"
                               role="link"
                               tabindex="0"
                               target="_blank">https://www.facebook.com/ketoanthueqc</a>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <img alt="👉"
                                 height="16"
                                 referrerpolicy="origin-when-cross-origin"
                                 src="https://static.xx.fbcdn.net/images/emoji.php/v9/t51/1/16/1f449.png"
                                 width="16" />&nbsp;Nh&oacute;m
                            <a href="https://www.facebook.com/groups/tuvanketoanthuequantrinoibo"
                               target="_blank">Tư Vấn Kế to&aacute;n Thuế QC-Quản trị nội bộ</a>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <img alt="👉"
                                 height="16"
                                 referrerpolicy="origin-when-cross-origin"
                                 src="https://static.xx.fbcdn.net/images/emoji.php/v9/t51/1/16/1f449.png"
                                 width="16" />&nbsp;Youtube:
                            <a href="https://www.youtube.com/KeToanThueQC"
                               rel="nofollow noopener"
                               role="link"
                               tabindex="0"
                               target="_blank">https://www.youtube.com/KeToanThueQC</a>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <img alt="👉"
                                 height="16"
                                 referrerpolicy="origin-when-cross-origin"
                                 src="https://static.xx.fbcdn.net/images/emoji.php/v9/t51/1/16/1f449.png"
                                 width="16" />&nbsp;TikTok:
                            <a href="https://www.tiktok.com/ketoanthueqc"
                               rel="nofollow noopener"
                               role="link"
                               tabindex="0"
                               target="_blank">https://www.tiktok.com/ketoanthueqc</a>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <img alt="👉"
                                 height="16"
                                 referrerpolicy="origin-when-cross-origin"
                                 src="https://static.xx.fbcdn.net/images/emoji.php/v9/t51/1/16/1f449.png"
                                 width="16" />&nbsp;Zalo:
                            <a href="https://oa.zalo.me/manage/dashboard?fbclid=IwAR1y6IyEfSjsQJFcElVY3kjiF59hdZRoNufHUQvcbS9lpdw1tJ6lqTHzgu8"
                               rel="nofollow noopener"
                               role="link"
                               tabindex="0"
                               target="_blank">https://oa.zalo.me/</a><a href="http://https://zalo.me/2147136341620006467">ketoanthueqc</a>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <img alt="👉"
                                 height="16"
                                 referrerpolicy="origin-when-cross-origin"
                                 src="https://static.xx.fbcdn.net/images/emoji.php/v9/t51/1/16/1f449.png"
                                 width="16" />&nbsp;Twitter:
                            <a href="https://twitter.com/ketoanthueqc"
                               rel="nofollow noopener"
                               role="link"
                               tabindex="0"
                               target="_blank">https://twitter.com/ketoanthueqc</a>
                        </span>
                    </span>
                </p>
                <p>
                    <span style="font-size: 16px">
                        <span style="font-family: Arial, Helvetica, sans-serif">
                            <meta charset="utf-8" /><b id="docs-internal-guid-29d1d114-7fff-5e9f-97bd-3e40e71f3167">
                                #ketoanthueqc #dichvuketoan #daotaoketoan #kekhaithue
                                #doanhnghiep
                            </b>
                        </span>
                    </span>
                </p>
            </div>
            <img src="/Content/images/thich_img.jpg"
                 alt="Thích"
                 class="img-fluid" />
            <hr />
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fketoanthueqc&amp;width=150&amp;layout=button_count&amp;action=like&amp;size=small&amp;share=true&amp;height=46&amp;appId"
                    width="150"
                    height="46"
                    style="border: none; overflow: hidden"
                    scrolling="no"
                    frameborder="0"
                    allowfullscreen="allowfullscreen"
                    allow="
              autoplay;
              clipboard-write;
              encrypted-media;
              picture-in-picture;
              web-share;
            "></iframe>
        </div>
    </div>
</div>