<div class="col-lg-3 order-1 order-lg-0">
    <ul class="menu-left">
        <li>
            <a href="/dich-vu-ke-toan.html">Dịch vụ kế to&#225;n</a>
            <ul>
                <li>
                    <a href="/dich-vu-ke-toan-thue-tron-goi.html">
                        <i class="fal fa-angle-right"></i> Dịch vụ kế to&#225;n
                        thuế trọn g&#243;i
                    </a>
                </li>
                <li>
                    <a href="/kiem-tra-don-dep-lai-so-sach-ke-toan.html">
                        <i class="fal fa-angle-right"></i> Kiểm tra, dọn dẹp lại sổ
                        s&#225;ch kế to&#225;n
                    </a>
                </li>
                <li>
                    <a href="/dich-vu-quyet-toan-thue.html">
                        <i class="fal fa-angle-right"></i> Dịch vụ quyết to&#225;n
                        thuế
                    </a>
                </li>
                <li>
                    <a href="/tu-van-quan-ly-tai-chinh-ke-toan-doanh-nghiep.html">
                        <i class="fal fa-angle-right"></i> Tư vấn quản l&#253;
                        t&#224;i ch&#237;nh, kế to&#225;n Doanh nghiệp
                    </a>
                </li>
                <li>
                    <a href="/thanh-lap-doanh-nghiep.html">
                        <i class="fal fa-angle-right"></i> Th&#224;nh lập doanh
                        nghiệp
                    </a>
                </li>
                <li>
                    <a href="/thay-doi-dang-ky-kinh-doanh.html">
                        <i class="fal fa-angle-right"></i> Thay đổi đăng k&#253;
                        kinh doanh
                    </a>
                </li>
                <li>
                    <a href="/dich-vu-hoan-thien-bao-cao-tai-chinh.html">
                        <i class="fal fa-angle-right"></i> Dịch vụ ho&#224;n thiện
                        b&#225;o c&#225;o t&#224;i ch&#237;nh
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/dao-tao-ke-toan.html">Đ&#224;o tạo kế to&#225;n</a>
            <ul>
                <li>
                    <a href="/khoa-hoc-ke-toan-tong-hop.html">
                        <i class="fal fa-angle-right"></i> Kh&#243;a học kế
                        to&#225;n tổng hợp
                    </a>
                </li>
                <li>
                    <a href="/khoa-hoc-ke-toan-thue-ngan-han.html">
                        <i class="fal fa-angle-right"></i> Kh&#243;a học kế
                        to&#225;n thuế ngắn hạn
                    </a>
                </li>
                <li>
                    <a href="/khoa-hoc-phan-mem-ke-toan-fast-misa.html">
                        <i class="fal fa-angle-right"></i> Kh&#243;a học phần mềm
                        kế to&#225;n Fast - Misa
                    </a>
                </li>
                <li>
                    <a href="/khoa-hoc-ke-toan-danh-cho-giam-doc.html">
                        <i class="fal fa-angle-right"></i> Kh&#243;a học kế
                        to&#225;n d&#224;nh cho Gi&#225;m Đốc
                    </a>
                </li>
                <li>
                    <a href="/khoa-hoc-ke-toan-cho-nguoi-moi-bat-dau.html">
                        <i class="fal fa-angle-right"></i> Kh&#243;a học kế
                        to&#225;n cho người mới bắt đầu
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="module-name-left mb-3">Kết nối mạng xã hội</div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fketoanthueqc&amp;tabs&amp;width=500&amp;height=130&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId"
                width="500"
                height="130"
                style="border: none; overflow: hidden"
                scrolling="no"
                frameborder="0"
                allowfullscreen="allowfullscreen"
                allow="
                autoplay;
                clipboard-write;
                encrypted-media;
                picture-in-picture;
                web-share;
              "></iframe>
    </div>
    <div class="g-ytsubscribe"
         data-channelid="UCyEAEnxd-M_UqDmkZtZfSQg"
         data-layout="full"
         data-count="default"></div>
</div>