@model IEnumerable<MyShop.Models.News>
@{
    ViewData["Title"] = "Thư viện";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var path = Context.Request.Path.Value?.ToLower();
}

<div class="sub-header">
    <div class="container">

        <h1>Thư viện</h1>
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/"><i class="fal fa-home"></i></a>
            </li>
            <li class="breadcrumb-item active">Thư viện</li>

        </ul>
    </div>
</div>